.checkbox {
  display: flex;
  align-items: center;
  margin: var(--space-2) 0;

  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);

  input {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  span {
    margin-left: 1rem;
  }
}

.banner {
  background-color: var(--surface-100);
  padding: var(--space-2);
  margin-bottom: var(--space-2);

  h2 {
    margin-bottom: var(--space-1);
  }
}
