.checkbox {
  display: flex;
  align-items: center;

  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);

  input {
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

  span {
    margin-left: 1rem;
  }
}

.form {
  border: 1px solid var(--surface-300);
  padding: var(--space-2);
  border-radius: $radius;
  background-color: rgba(var(--RGB-surface-200), 0.3);
}
