.drop-down {
  position: relative;
  padding: 4px;
  border: 1px solid var(--surface-400);
  border-radius: $radius;
  margin-left: 4px;
}

.menu {
  position: absolute;
  z-index: 99999;
  top: 120%;
  right: -2px;
  overflow: hidden;
  min-width: 190px;
  border: 1px solid var(--surface-400);
  border-radius: $radius;
  background-color: var(--surface-100);
}

.button {
  border: none;
  font-weight: 600;

  svg {
    width: 12px;
    height: 12px;
    margin-left: 8px;
  }

  path {
    fill: var(--on-surface-hight);
  }
}

.option {
  padding: 12px;
  border-bottom: 1px solid var(--surface-400);
  cursor: pointer;
  white-space: nowrap;

  @include respond(laptop desktop) {
    &:hover {
      background-color: var(--surface-dark-100);
      color: var(--on-surface-dark);
    }
  }

  p {
    font-size: 0.9rem;
  }

  &:last-of-type {
    border-bottom: none;
  }
}