.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  z-index: 9999;

  svg {
    font-size: 26px;
  }
}

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  cursor: pointer;
}

.select {
  position: absolute;
  right: -0.5rem;
  top: 100%;
  background-color: rgb(var(--color-primary-0));
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid gray;
}

.option {
  padding: 5px 30px;
  text-align: center;
  background-color: white;
  color: rgb(var(--color-primary-0));
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid rgb(195, 223, 255);
  list-style: none;

  &:hover,
  &:focus,
  &:active {
    background-color: rgb(108, 108, 237);
    color: white;
  }

  &:last-child {
    border-bottom: none;
  }
}
