.DropDown {
  position: relative;
}

.menu {
  position: absolute;
  width: fit-content;
  z-index: 99999;
  top: 100%;
  min-width: 100%;
  right: 0;
  border-radius: $radius;

  border: 0.1px solid var(--surface-900);
  background-color: var(--surface-900);
}

.button {
  border: none;
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;

  svg {
    margin-left: 4px;
  }

  path {
    fill: var(--surface-900);
  }
}

.option {
  padding: 8px;
  white-space: nowrap;
  cursor: pointer;

  border-bottom: 0.1px solid var(--surface-900);

  &:last-of-type {
    border-bottom: none;
  }

  &:hover {
    background-color: rgba(var(--surface-900), 1);
    color: var(--surface-900);
  }
}
