.selectedOptions {
  margin: var(--space-0) 0;
  p {
    font-size: 12px;
  }
}

.option {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 8px;
  font-weight: $fontWeightMedium;
}

.value {
}
