.ProductDescription {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: rgb(40, 40, 40);

  &::after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: gray;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.price {
  font-size: 20px;
  font-weight: 600;
}

.description {
  margin: 20px 0;
  font-size: 14px;
  & ul {
    margin: 8px 0;
  }
  & > p {
    margin: 8px 0;
    margin-bottom: 12px;
  }

  & li {
    list-style-type: circle;
  }
}

.fullDescription {
  display: block;
  text-align: center;
  margin: 30px 0 60px 0;
  text-decoration: underline;
}

.select {
  height: 36px;
  font-size: 16px;

  option {
    font-size: 18px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
}
.quantityContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  text-align: center;
  height: 100%;
  width: 50px;
  border: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btnQuantity {
  padding: 4px;
  border: 1px solid gray;
  height: 100%;

  svg {
    font-size: 22px;
  }
}

.tags {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 30px;
}

.tag {
  background-color: $primary;
  color: whitesmoke;
  font-size: 14px;
  border-radius: 6px;
  padding: 6px 8px;
}

.btn {
  width: 100%;
}

.ProductDescriptionModal {
  & .description {
    & > * {
      display: none;
    }
    & > :first-child {
      display: block;
    }
  }
}
