.buttons {
  width: 100%;
  padding: var(--space-1);
  padding-bottom: 0;
  border-top: 1px solid var(--surface-400);
}

.button {
  width: 100%;
  small {
    margin-left: 4px;
  }

  &:first-of-type {
    margin-bottom: var(--space-1);
  }
}
