.Price {
  display: flex;
  align-items: center;
}

.currentPrice {
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.compareAtPriceV2 {
  color: red;
  font-weight: 300;
  font-size: 14px;
  margin-left: 8px;
  text-decoration: line-through;
  opacity: 0.6;
}
