.Price {
  display: flex;
  align-items: center;
  color: black;

  &.small {
    font-size: 13px;
  }

  &.medium {
    font-size: 15px;
  }

  &.large {
    font-size: 17px;
  }
}

.compareAtPriceV2 {
  color: black;
  margin-left: 8px;
  text-decoration: line-through;
  transform: scale(0.9);
  transform-origin: center;
}

.PriceDiscount {
  color: red;
}
