.price {
  display: flex;
  align-items: center;
  gap: var(--space-0);
}

.compare {
  opacity: 0.5;
  text-decoration: line-through;
}

.current {
  color: var(--on-surface-medium);
  font-weight: 600;
}

.small {
  p {
    font-size: 1rem;
  }
}

.medium {
  p {
    font-size: 1.1rem;
  }
}

.large {
  p {
    font-size: 1.2rem;
  }
}