.label {
  display: block;
  width: 100%;

  &.missing {
    b {
      color: var(--danger-500);
    }

    textarea {
      border: 1px solid var(--danger-500);
    }
  }
}

.title {
  display: flex;
  font-size: 0.9rem;
}

.textarea {
  width: 100%;
  min-height: 200px;
  padding: var(--space-1);
  border: 1px solid var(--surface-300);
  border-radius: $radius;
  background-color: var(--surface-200);
  color: var(--on-surface-medium);
  resize: vertical;

  @include placeholder {
    color: rgb(var(--surface-900) 0.3);
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid var(--primary-500);
  }
}