.label {
  width: 100%;
  display: block;

  &.missing {
    b {
      color: red;
    }
    textarea {
      border: 1px solid red;
    }
  }
}

.title {
  display: flex;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.textarea {
  min-height: 200px;
  width: 100%;
  padding-top: var(--space-1);
  padding-left: var(--space-1);
  resize: vertical;
  border-radius: $radius;
  border: none;
  background-color: var(--surface-200);
  color: var(--onSurface-medium);

  &:focus-visible {
    outline-offset: 0.125rem;
    outline: 0.1rem solid rgba(var(--surface-900), 0.3);
  }

  @include placeholder {
    color: rgba(var(--surface-900), 0.3);
  }
}
