.label {
  display: block;
  width: 100%;

  &.missing {
    b {
      color: var(--danger-500);
    }

    textarea {
      border: 1px solid var(--danger-500);
    }
  }
}

.title {
  display: flex;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.textarea {
  border: 1px solid var(--surface-300);
  border-radius: $radius;
  background-color: var(--surface-200);
  min-height: 200px;
  width: 100%;
  resize: vertical;
  padding-top: var(--space-0);
  padding-left: var(--space-1);
  color: var(--onSurface-medium);

  @include placeholder {
    color: rgba(var(--surface-900), 0.3);
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid var(--primary-500);
  }
}