.ProductDetails {
  margin-top: var(--space-4);
  padding: var(--space-2);
  border-radius: $radius;
  background-color: var(--light);
  border: 0.1px solid rgba(var(--dark), 0.1);
}

.title {
  padding-bottom: var(--space-1);
}

.description {
  padding-top: var(--space-1);
  img {
    display: none;
  }

  border-top: 1px solid rgba(var(--dark), 0.1);
}
