.header {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  color: whitesmoke;
  height: 66px;
  background-color: rgb(var(--color-dark-0));
  color: rgb(var(--color-dark-4));
}
