.header {
  width: 100%;
  align-items: center;
  padding: 0 var(--space-1);
  z-index: 99999;
  position: relative;
}

.headerInner {
  width: 100%;
  height: $header-height;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.bigMenu {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100% - $header-height);
  z-index: 999999;
}

.inner {
  padding: 30px 0;
  animation: rotateZ 0.3s linear forwards;

  @include themed() {
    background-color: t($background);
    border-top: 0.1px solid t($onBackground);
    border-bottom: 0.1px solid t($onBackground);
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  margin-bottom: 8px;


}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

@keyframes rotateZ {
  0% {
    opacity: 0;
    transform: translateZ(290px);
  }

  80% {
    transform: translateZ(10px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}