.CollectionBigBanner {
  display: flex;
  gap: var(--space-1);
  margin-bottom: var(--space-6);
  width: 100%;
  height: 35vw;

  @include respond('tablet') {
    flex-direction: column;
    height: 100%;
  }

  @include respond('mobile') {
    gap: var(--space-0);
  }
}

.item {
  width: 100%;
  height: 100%;
}
