.CollectionBigBanner {
  display: flex;
  margin-bottom: var(--space-6);
  height: 35vw;
  width: 100%;
  gap: var(--space-1);

  @include respond('tablet') {
    flex-direction: column;
    height: 100%;
  }

  @include respond('mobile') {
    gap: var(--space-0);
  }
}

.item {
  height: 100%;
  width: 100%;
}