.ProductDescription {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 60px;

  &.Separator + .Separator {
    display: none;
  }
}

.ProductDescriptionModal {
  padding: 30px 30px 0 30px;
}

.type {
  color: white;
  background-color: green;
  border-radius: 3px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 1rem;
}

.title {
  position: relative;
  margin-bottom: var(--space-md);
}

.description {
  & ul,
  li,
  p {
    margin-bottom: 8px;
  }
}

.btn {
  width: 100%;
}

.btnSeeProduct {
  margin: var(--space-md) auto;
  font-size: var(--text-sm);
  text-decoration: underline;
}

.footer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
