.forgotPassword {
  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
}

.register,
.forgotPassword {
  text-align: center;
  font-size: $fontSize--100;

  & a {
    color: $color-primary;
    text-decoration: underline;
    font-size: $fontSize--100;
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  gap: var(--space-2);
  @include flex-center-vert;
}