.register {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-0);
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);

  & a {
    color: $color-primary;
    text-decoration: underline;
    @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  }
}
