.forgotPassword {
  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
}

.register,
.forgotPassword {
  text-align: center;

  & a {
    color: rgb(var(--color-primary-0));
    text-decoration: underline;
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}
