.selectedOptions {
  margin: var(--space-0) 0;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.option {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 8px;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  text-transform: uppercase;
  font-weight: $fontWeightMedium;
}

.value {
}
