.selectedOptions {
  margin: 10px 0;
  font-size: var($fontSize--100);
}

.option {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 8px;
  font-size: $fontSize--100;
  text-transform: uppercase;
  font-weight: $fontWeightMedium;
}

.value {}