.label {
  width: 100%;
  padding-bottom: 1rem;
  display: block;
}

.title {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.input {
  height: 46px;
  width: 100%;
  padding-left: 1rem;
  border: 0.4px solid gray;
  border-radius: 3px;
  font-family: roboto;
  resize: vertical;
}

.textarea {
  padding-top: 1rem;
  min-height: 200px;
}
