.LayoutButtons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 3px;
  padding: 0px;
}

.buttonGrid {
  &.grid {
    border: 1px solid rgb(var(--color-primary-0));
  }
}

.buttonRow {
  &.row {
    border: 1px solid rgb(var(--color-primary-0));
  }
}