.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  border: none;
  margin-right: 3px;
  padding: 0;

  &.grid {
    border: 1px solid rgb(var(--color-primary-0));
  }
  
  &.row {
    border: 1px solid rgb(var(--color-primary-0));
  }
}
