.option {
  padding-bottom: var(--space-2);

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  padding: 5px;
  min-height: 46px;
  min-width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include themed {
    border: 0.1px solid t($onBackground);
    color: t($onBackground);
  }
}

.name {
  padding-bottom: var(--space-0);
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.selectedOption {
  @include themed {
    border: 2px solid t($onBackground);
    color: t($onBackground);
  }
}

.outOfStock {
  opacity: 0.4;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* Rising diagonal line */
    background: linear-gradient(to right bottom,
        white,
        white 48%,
        black 49%,
        black 51%,
        white 52%,
        white) !important;
    /* Falling diagonal line */
    background: linear-gradient(to right top,
        white,
        white 48%,
        black 49%,
        black 51%,
        white 52%,
        white) !important;
  }
}