.label {
  width: 100%;
  padding-bottom: var(--space-1);
  display: block;
  position: relative;

  &.missing {
    b {
      color: var(--danger-500);
    }
    input {
      border: 1px solid var(--danger-500);
    }
  }
}

.title {
  display: flex;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.required {
  margin-left: 2px;
}

.input {
  height: 44px;
  width: 100%;
  border-radius: $radius;
  resize: vertical;
  padding-left: var(--space-1);
  border: 1px solid var(--surface-300);
  background-color: var(--surface-200);
  color: var(--onSurface-medium);

  @include placeholder {
    color: var(--surface-700);
  }
  &:focus,
  &:focus-visible {
    outline: 1px solid var(--primary-500);
  }
}
