.label {
  width: 100%;
  padding-bottom: var(--space-1);
  display: block;
  position: relative;

  &:last-of-type {
    padding: 0;
  }

  &.missing {
    b {
      color: var(--danger-500);
    }
    input {
      border: 1px solid var(--danger-500);
    }
  }
}

.title {
  display: flex;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.required {
  margin-left: 2px;
}

.input {
  height: 44px;
  width: 100%;
  border-radius: $radius;
  resize: vertical;
  padding-left: var(--space-1);
  border: 1px solid rgba(var(--RGB-primary), 0.1);
  background-color: var(--surface-200);
  color: var(--onSurface-medium);

  @include placeholder {
    color: rgba(var(--surface-900), 0.3);
  }

  &:focus-visible {
    outline-offset: 0.125rem;
    outline: 0.1rem solid rgba(var(--surface-900), 0.3);
  }
}
