.label {
  width: 100%;
  padding-bottom: var(--space-2);
  display: block;
  position: relative;

  &:last-of-type {
    padding: 0;
  }
}

.title {
  display: flex;
}

.required {
  margin-left: 2px;
}

.input {
  height: 44px;
  width: 100%;
  border-radius: $radius;
  resize: vertical;
  border: 1px solid rgba($color-onBackground, 0.1);
  padding-left: var(--space-1);

  @include themed {
    background-color: t($surface);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    @include themed {
      -webkit-box-shadow: 0 0 0 30px t($surface) inset !important;
    }
  }
}
