@use '@/styles/mixins' as *;

.top {
  display: flex;
  gap: var(--space-1);

  @include respond(mobile) {
    display: block;
  }
}

.recommendations {
  margin: var(--space-4) 0;

  li {
    &:last-of-type {
      display: none;
    }
  }
}

.recommendations-title {
  margin-bottom: var(--space-1);
}
