.modal {
  position: fixed;
  z-index: 999999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(black, 0.8);
}

.container {
  overflow: auto;
  width: fit-content;
  min-width: 50vw;
  max-width: 85vw;
  max-height: 70vh;
  background-color: var(--surface-100);

  @include respond(mobile) {
    width: 95vw;
  }
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--surface-100);

  /* The height is only seen on horizontal scrolling */
}

.container::-webkit-scrollbar-track {
  background-color: var(--surface-800);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
}

.close {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border: none;
  transition: 0.3s;

  svg,
  path {
    stroke: var(--on-surface-dark);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  svg {
    width: 40px;
    height: 40px;
  }
}
