.Modal {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  background-color: rgba(black, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: fit-content;
  min-width: 50vw;
  max-width: 900px;
  max-height: 80vh;
  background-color: var(--surface-100);
  overflow: auto;
}

.Container::-webkit-scrollbar {
  background-color: var(--surface-100);
  width: 8px;
  height: 8px; /* The height is only seen on horizontal scrolling */
}

.Container::-webkit-scrollbar-track {
  background-color: var(--surface-800);
}

.Container::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
}
.close {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  z-index: 2;
  height: 70px;
  width: 70px;
  transition: 0.3s;

  svg,
  path {
    stroke: var(--onSurface-dark);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  svg {
    width: 40px;
    height: 40px;
  }
}
