.register {
  max-width: 400px;
  width: 100%;
  padding-left: 50px;
}
.title {
  font-size: 18px;
  color: black;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}
.subtitle {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}
