@use '@/styles/mixins' as *;

.hamburger-menu {
  display: none;
  visibility: hidden;

  @include respond(mobile tablet) {
    display: block;
    visibility: visible;
  }
}

.icon {
  margin-right: var(--space-0);

  svg {
    display: block;
    width: 25px;
    height: 22px;
  }

  path {
    stroke: var(--on-surface-dark);
  }
}

.menu {
  height: 100%;

  & > li {
    margin-bottom: var(--space-1);
  }
}

.menu-link {
  display: block;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-1);

  svg {
    opacity: 0.4;
  }
}

.sub-menu {
  margin-left: var(--space-1);
}

.user-nav {
  padding: var(--space-1);
  border-top: 1px solid var(--surface-300);

  .user-nav-list-item {
    padding: var(--space-1);
    font-size: 1.1rem;

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: var(--space-1);
    }
  }
}
