.bannerHome2 {
  background-image: linear-gradient(
      90deg,
      rgba($primary, 0.85) 0%,
      rgba($primary, 0.85) 100%
    ),
    url('../../assets/banner/catsBanner.jpg');
  background-size: 100%;
  background-position: center center;
  object-fit: contain;
}

.container {
  max-width: 750px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 60px 0px 80px 0px;
  margin: 0 auto;
  text-align: center;
  color: whitesmoke;
}

.title {
  font-size: 80px;
  font-weight: 700;
}

.subtitle {
  font-size: 40px;
  font-weight: 500;
  color: $strong;
}

.text {
  font-size: 20px;
  font-weight: 300;
}
