.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--space-2);
  gap: 6px;

  p {
    font-weight: $fontWeightLight;
  }

  h2 {
    font-weight: $fontWeightBold;
  }

  p,
  h2 {
    @include fluid-font(320px, 1024px, $fontSize-300, $fontSize-600);
  }
}