.button {
  border: none;
  height: 50px;
  padding: 0 60px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
}

.primary {
  @include themed() {
    background-color: t($primary);
    color: t($light);
  }

  border: none;
}

.secondary {
  background-color: var(--complementary);
  color: var(--complementary);
  border: 2px solid var(--complementary);
}

.contrast {
  @include themed() {
    background-color: t($dark);
    color: t($light);
    border: 2px solid t($dark);
  }
}

.outlined {
  background-color: var(--color-light-0);
  color: var(--color-dark-0);
  border: 2px solid var(--color-dark-0);
}