.button {
  border: none;
  height: 50px;
  padding: 0 60px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  text-transform: uppercase;
}

.primary {
  background-color: $color-primary;
  color: $color-background;
}

.secondary {
  background-color: $color-complementary;
  color: $color-background;
}

.contrast {
  @include themed() {
    background-color: t($onBackground);
    color: t($background);
  }
}

.outlined {
  @include themed() {
    border: 2px solid t($onBackground);
    background-color: t($background);
    color: t($onBackground);
  }
}