.ProductDescription {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  position: sticky;
  top: 20px;
  height: 100%;
  background-color: var(--surface-100);
  border-radius: $radius;
  width: fit-content;

  &.Separator+.Separator {
    display: none;
  }
}

.list {
  margin-bottom: var(--space-2);

  li {
    @include text-shorten(1);
  }
}

.options {
  border-top: 1px solid var(--surface-300);
  border-bottom: 1px solid var(--surface-300);
  padding: var(--space-2) 0;
}

.title {
  position: relative;
  @include fluid-font(320px, 1424px, $fontSize-400, $fontSize-500);
  margin-bottom: var(--space-1);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  margin-top: var(--space-2);
  flex-wrap: wrap;
}

.prices {}

.totalPrice,
.unitPrice {
  font-weight: 800;

  &:first-of-type {
    margin-right: var(--space-0);
  }

  p {
    font-weight: 600;
    @include fluid-font(320px, 1424px, $fontSize-300, $fontSize-400);
  }
}

.totalPrice {
  margin-right: var(--space-2);
}

.isWishlist {
  path {
    fill: var(--onSurface-dark);
  }
}