.ProductDescription {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-100);
  height: 100%;
  width: fit-content;
  max-width: 430px;
  padding: var(--space-2);

  @include respond(mobile) {
    width: 100%;
    padding: var(--space-1);
  }

  &.Separator+.Separator {
    display: none;
  }
}

.list {
  margin-bottom: var(--space-2);

  li {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.options {
  border-top: 1px solid var(--surface-300);
  border-bottom: 1px solid var(--surface-300);
  padding: var(--space-2) 0;
}

.title {
  position: relative;
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--space-2);
  gap: var(--space-1);
}

.prices {}

.totalPrice,
.unitPrice {
  &:first-of-type {
    margin-right: var(--space-0);
  }

  small {
    font-weight: 400;
    font-size: 0.9rem;
  }

  p {
    font-weight: 600;
    font-size: 1.3rem;
  }
}

.totalPrice {
  margin-right: var(--space-2);
}

.button {
  width: 100%;
}

.isWishlist {
  path {
    fill: var(--onSurface-dark);
  }
}