.description {
  position: sticky;
  top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--surface-100);
  height: 100%;
  max-width: 430px;
  width: fit-content;
  padding: var(--space-2);

  @include respond(mobile) {
    width: 100%;
    padding: var(--space-1);
  }

}

.list {
  margin-bottom: var(--space-2);

  li {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.options {
  border-top: 1px solid var(--surface-300);
  border-bottom: 1px solid var(--surface-300);
  padding: var(--space-2) 0;
}

.title {
  position: relative;
  font-size: 1.4rem;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--space-2);
  gap: var(--space-1);
}

.total-price {
  margin-right: var(--space-2);
}

.total-price,
.unit-price {
  &:first-of-type {
    margin-right: var(--space-0);
  }

  small {
    font-size: 0.9rem;
    font-weight: 400;
  }

  p {
    font-size: 1.3rem;
    font-weight: 600;
  }
}



.button {
  width: 100%;
}

.is-wishlist {
  path {
    fill: var(--on-surface-dark);
  }
}