.summary {
  padding: var(--space-2);
  height: fit-content;
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  border-radius: $radius;
  top: var(--space-2);
  background-color: var(--complementary);
  border: 0.01px solid var(--dark);
}

.title {
  margin-bottom: var(--space-2);
}

.subtotal {
  padding-bottom: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.01px solid var(--dark);
}

.btn {
  width: 100%;
  margin-top: var(--space-1);
}

.CartSummaryRow {
  padding: var(--space-0) 0;
  border-bottom: 0.01px solid var(--primary);
  &:last-of-type {
    border-bottom: none;
  }
  &__title {
    font-weight: $fontWeightMedium;
    @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__children {
    margin-top: var(--space-0);
  }
}
