.AccountLayout {
  position: relative;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-2);
  margin-bottom: var(--space-1);
}

.title {
}

.logOut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-0);
  font-size: var(--font-size-md);
  border: 2px solid rgb(var(--color-dark-0));
  border-radius: 3px;
  padding: 3px;
  background: transparent;
}
.main {
  display: flex;
  gap: var(--space-2);
  width: 100%;
}

.nav {
  min-width: 230px;
}

.list {
  position: sticky;
  display: block;
  top: 2rem;
}
.listItem {
  width: 100%;
}
.active {
  border-left: 3px solid rgb(var(--color-primary-0));
}

.item {
  border-left: 3px solid transparent;
  padding: var(--space-1);
  display: block;
  background-color: rgb(var(--color-light-1));
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.children {
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
