.container {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.image {
  position: relative;
  img {
    width: 110px;
    height: 100px;
    object-fit: contain;
  }
}
.link {
  &:hover {
    text-decoration: underline;
  }
}

.item {
  text-align: center;
}

.price {
  opacity: 0.7;
}
.subtotal {
  font-weight: $fontWeightMedium;
}
.content {
  padding: var(--space-0) 0 var(--space-0) 1rem;
  text-align: start;
}

.title {
  margin-bottom: 1rem;
}

.input {
  text-align: center;
  height: 30px;
  width: 80px;
  background-color: transparent;
  border: none;

  @include themed {
    border-bottom: 1px solid t($onBackground);
    color: t($onBackground);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.delete {
  cursor: pointer;
  svg,
  path {
    @include themed {
      stroke: t($onBackground);
    }
  }
}

.button {
  white-space: nowrap;
  text-decoration: underline;
  border: none;
  background-color: transparent;
}
