.container {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.image {
  position: relative;

  img {
    border-radius: $radius;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.item {
  text-align: center;
}

.price {
  opacity: 0.7;
}

.subtotal {
  font-weight: $fontWeightMedium;
}

.content {
  padding: var(--space-0) 0 var(--space-0) 1rem;
  text-align: start;
}

.title {
  display: block;
  margin-bottom: var(--space-0);
}

.input {
  border: none;
  border-bottom: 1px solid var(--surface-900);
  background-color: transparent;
  height: 30px;
  width: 80px;
  color: var(--surface-900);
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.delete {
  cursor: pointer;

  svg,
  path {
    stroke: var(--surface-900);
  }
}

.button {
  border: none;
  background-color: transparent;
  white-space: nowrap;
  text-decoration: underline;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}