.filters {
  padding: var(--space-2);

  @include themed {
    color: t($onBackground);
  }
}
.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-0);
  margin-bottom: var(--space-2);
}

.label {
  margin-bottom: var(--space-0);
}

.button {
  padding: var(--space-0);
  min-height: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);

  @include themed {
    border: 0.1px solid t($onBackground);
    color: t($onBackground);
  }
}

.checked {
  @include themed {
    background-color: t($onBackground);
    color: t($background);
  }
}

.label {
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 3px;
}
