.filters {
  color: var(--surface-900);
}
.filterContainer {
  border-bottom: 1px solid var(--surface-300);
  margin-bottom: var(--space-2);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-0);
  padding: var(--space-1);
  background-color: var(--surface-200);
}

.label {
  display: block;
  background-color: var(--surface-300);
  color: var(--onSurface-100);
  padding: var(--space-0) var(--space-1);
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 3px;
}

.button {
  border-radius: $radius;
  min-height: 36px;
  min-width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  border: 0.1px solid var(--surface-900);
  color: var(--surface-900);
  background-color: var(--surface-100);
}

.checked {
  background-color: var(--surface-900);
  color: var(--surface-100);
}

.selected {
  background-color: var(--surface-800);
  color: var(--surface-100);
}
