.filters {}

.header {
  background-color: var(--surface-dark-100);
  padding: var(--space-1);
  margin-bottom: var(--space-0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--onSurface-dark);
}

.bottom {
  padding: var(--space-0);
}

.title {
  color: var(--onSurface-dark);
  display: flex;
  align-items: center;
  gap: var(--space-0);
}

.button {
  display: block;
  width: 100%;
}

.reset {
  border: none;
  text-decoration: underline;
}