.search {
  display: flex;
  align-items: center;
  border: 1px solid var(--surface-300);
  background-color: var(--surface-100);
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;

  label {
    width: 100%;
  }
}

.input {
  border: none;
  border-radius: $radius;
  height: 120px;
  width: 100%;
  font-size: 3rem;
  color: var(--onSurface-hight);

  @include placeholder {
    color: var(--surface-300);
  }

  &:focus {
    outline: none;
  }
}