.container {
  position: relative;
  transform: translateZ(0);
  display: flex;
  align-items: center;
  border: 0.1px solid rgb(var(--surface-900) 0.1);
  background-color: var(--surface-200);
  max-height: 0;
  height: 300px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.expanded {
  max-height: 300px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}