.container {
  position: relative;
  width: 100%;
  max-height: 0px;
  transition: max-height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  height: 300px;
  border: 0.1px solid rgba(var(--surface-900), 0.1);
}

.expanded {
  max-height: 300px;
  transition: max-height 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.searchBar {
  display: flex;
  align-items: center;
  height: 100%;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  label {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 120px;
  padding-left: var(--space-3);
  border: none;
  font-size: 60px;
  border-radius: $radius;
  background-color: var(--surface-200);
  color: var(--surface-700);

  @include placeholder {
    color: var(--surface-300);
  }

  &:focus {
    outline: none;
  }
}
