.container {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(black, 0.9);
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;

  @include themed() {
    border-top: 0.1px solid rgba(t($onBackground), 0.3);
  }
}

.searchBar {
  padding: 0 var(--space-3);

  @include themed() {
    background-color: t($background);
    border-top: 0.1px solid rgba(t($onBackground), 0.5);
    border-bottom: 0.1px solid rgba(t($onBackground), 0.5);
    background-color: t($background);
  }
}

.form {
  position: relative;
  height: fit-content;
  width: 100%;
}

.title {
  padding: var(--space-4) 0 var(--space-1) 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.buttonClose {
  position: absolute;
  right: 0;
  top: var(--space-1);

  border: none;
  cursor: pointer;
  @include fluid-font(320px, 1424px, $fontSize-300, $fontSize-400);
}

.input {
  width: 100%;
  min-width: 360px;
  height: 3rem;
  padding-left: var(--space-1);
  @include fluid-font(320px, 1424px, $fontSize-200, $fontSize-300);
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
