$boxDimension: 36px;

.option {
  padding-bottom: var(--space-1);

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  padding: 5px;
  min-height: $boxDimension;
  min-width: $boxDimension;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);

  @include themed {
    border: 0.1px solid t($onBackground);
    color: t($onBackground);
  }
}

.name {
  display: block;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.selectedOption {
  @include themed {
    border: 2px solid t($onBackground);
    color: t($onBackground);
  }
}

.outOfStock {
  opacity: 0.2;
  position: relative;
  cursor: default;
}
