$boxDimension: 36px;

.option {
  padding-bottom: var(--space-1);

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--surface-dark-100);
  border-radius: $radius;
  background-color: var(--surface-100);
  min-height: $boxDimension;
  min-width: $boxDimension;
  padding: 5px;
  color: var(--onSurface-hight);
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--surface-200);
  }
}

.name {
  display: block;
  margin-bottom: 4px;
  width: fit-content;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.selectedOption {
  border: 1px solid var(--surface-dark-100);
  background-color: var(--surface-dark-100);
  color: var(--onSurface-dark);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--surface-dark-200);
  }
}