$boxDimension: 36px;

.option {
  padding-bottom: var(--space-1);

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  padding: 5px;
  min-height: $boxDimension;
  min-width: $boxDimension;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  border: 2px solid var(--surface-800);
  color: var(--surface-900);
}

.name {
  display: block;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
  margin-bottom: 4px;
  width: fit-content;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.selectedOption {
  border: 2px solid var(--surface-dark-100);
  color: var(--surface-dark-100);
  font-weight: 600;
}

.outOfStock {
  border: 1px solid var(--surface-100);

  position: relative;
  cursor: default;
}
