.label {
  width: 100%;
  padding-bottom: var(--space-2);
  display: block;
}

.title {
  display: flex;
}

.textarea {
  min-height: 200px;
  width: 100%;
  padding-top: var(--space-1);
  padding-left: var(--space-1);
  border-radius: 1px;
  resize: vertical;

  @include themed {
    background-color: t($surface);
    border: 1px solid darken(t($surface), 10%);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    @include themed {
      -webkit-box-shadow: 0 0 0 30px t($surface) inset !important;
    }
  }
}
