.container {
  width: fit-content;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: var(--space-2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--space-1);
}

.bigMenu {
  position: absolute;
  width: 100%;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(black, 0.8);
}

.inner {
  position: relative;
  padding: var(--space-3) var(--space-4);
  animation: slide-top 600ms cubic-bezier(0.25, 1, 0.5, 1) 0s 1 normal both;
  z-index: 99;

  @include themed() {
    background-color: t($background);
    border-top: 0.1px solid rgba(t($onBackground), 0.2);
    border-bottom: 0.1px solid rgba(t($onBackground), 0.2);
  }
}

.title {
  margin-bottom: var(--space-1);
}

.item {
  width: fit-content;
  margin-bottom: var(--space-0);
}

@keyframes slide-top {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
