.createAddress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: var(--space-0);
  border-radius: 0.5rem;
  width: fit-content;
}

.createAddressIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
