.orderCard {}


.header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderCardDetail {}

.orderCardLineItem {}

.orderCardLines {}

.link {
  padding: 6px;
  text-decoration: underline;
}