.orderCard {
}
.orderCardHeader {
  font-size: var(--font-size-base);
  margin-bottom: 1rem;
}
.orderCardDetail {
}
.orderCardLineItem {
}
.orderCardLines {
}

.orderCardButton {
  margin-top: 1rem;
  padding: 6px 9px;
}
