.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  text-transform: capitalize;
}

.buttons {
  display: flex;
  align-items: center;
  gap: $gapSmall;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: fit-content;
  background-color: rgb(var(--color-light-4));
  color: rgb(var(--color-dark-0));
  border: 1px solid rgb(var(--color-dark-0));
}

.setAsDefault {
  border: none;
  text-decoration: underline;
  width: fit-content;
  margin-top: var(--space-2);
  padding: 0;
}
