.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  background-color: rgb(var(--color-primary-0));
  color: rgb(var(--color-primary-4));
  width: fit-content;
  padding: 3px 6px;
  border-radius: 3px;
  font-size: var(--font-size-sm);
  margin-bottom: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
