.cart {
  display: grid;
  grid-template-columns: 1fr 360px;
  margin: 0 auto;
  padding: var(--space-2) 0;
  gap: var(--space-2);
}

.emptyCart {
  padding: var(--space-5) 0;
}

.button {
  margin-top: var(--space-1);
  margin-left: auto;
}