.cart {
  margin: 0 auto;
  padding-bottom: var(--space-2);
  display: grid;
  grid-template-columns: 1fr 330px;
  gap: $gapBig;
  padding: var(--space-2) 0;
}

.summary {
  text-align: right;
}
.price {
  text-align: center;
  padding: var(--space-1);
  font-weight: $fontWeightMedium;
}

.table {
  width: 100%;

  td {
    text-align: center;
    vertical-align: middle;
    padding: var(--space-0);
    @include themed {
      border: 0.01px solid rgba(t($onBackground), 0.5);
    }
  }

  th {
    font-weight: $fontWeightMedium;
    font-size: $fontSize-100;
    text-transform: uppercase;
    padding-bottom: 3px;
  }
}
