.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 50px;
  animation: slideUp 0.3s ease-in-out forwards;
  z-index: 9999999999999999999;
  color: var(--light);

  .toastContainer {
    width: 100%;
    position: relative;

    .item {
      padding: var(--space-0);
      transition: 0.2s;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 40px;
      font-weight: $fontWeightMedium;

      &.info {
        background-color: var(--RGB-dark);
      }

      &.error {
        background-color: var(--danger);
      }

      &.warning {
        background-color: var(--warning);
      }

      &.success {
        background-color: var(--success);
      }
    }
  }
}

@keyframes slideUp {
  0% {
    bottom: -50px;
  }
  100% {
    top: unset;
    transform: translate3d(-50px, 0);
  }
}
