.toast {
  z-index: 9999999999999999999;
  position: fixed;
  bottom: 10px;
  left: 50%;
  right: 0;
  transform: translate(-50%, -10px);
  max-height: 50px;
  max-width: 600px;
  width: 80%;
  color: var(--surface-100);
  transition: all 0.3s ease-in;
  animation: slide-up 0.3s ease-in-out forwards;

  .container {
    position: relative;
    width: 100%;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      min-height: 40px;
      width: 100%;
      padding: var(--space-0);
      transition: 0.2s;

      p {
        font-weight: 500;
      }

      &.info {
        border: 1px solid var(--primary-800);
        background-color: var(--primary-600);
        color: white;
      }

      &.error {
        border: 1px solid var(--danger-800);
        background-color: var(--danger-600);
        color: white;
      }

      &.warning {
        border: 1px solid var(--warning-800);
        background-color: var(--warning-600);
        color: white;
      }

      &.success {
        border: 1px solid var(--success-800);
        background-color: var(--success-600);
        color: white;
      }
    }
  }
}

@keyframes slide-up {
  0% {
    bottom: -50px;
  }

  100% {
    top: unset;
    transform: translate3d(-50px, 0);
  }
}