.card {
  overflow: hidden;
  display: flex;
}
.image {
  position: relative;
  overflow: hidden;
  max-width: 100px;
  width: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 6px 10px;
}
.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.variantTitle {
  font-size: 14px;
  margin-bottom: 12px;
}
.quantity {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.price {
  font-size: 13px;
  margin-bottom: 4px;
}

.remove {
  border: none;
  font-size: 13px;
  text-decoration: underline;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
