.table {
  width: 100%;
  height: fit-content;
  border-spacing: 0px;
  border-collapse: separate;
  border-radius: $radius;
  overflow: hidden;

  @include themed {
    border: 0.01px solid rgba(t($onBackground), 0.2);
  }
}

.tHead {
  font-weight: $fontWeightSemiBold;
  padding: var(--space-1) var(--space-0);
  text-transform: uppercase;
  text-align: start;

  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
  @include themed {
    border-bottom: 0.01px solid rgba(t($onBackground), 0.2);
    background-color: t($background-1);
    color: t($onBackground);
  }
}

.tData {
  text-align: start;
  vertical-align: middle;
  padding: var(--space-0) var(--space-0);
  font-weight: $fontWeightNormal;
  min-width: 100px;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
  height: 80px;

  @include themed {
    border-bottom: 0.01px solid rgba(t($onBackground), 0.2);
  }
  @include themed {
    background-color: rgba(t($onBackground), 0.01);
  }
}
