.table {
  border-bottom: none;
  border-radius: $radius;
  border-collapse: separate;
  background-color: var(--surface-100);
  height: fit-content;
  width: 100%;
  overflow: hidden;
  border-spacing: 0px;
}

.tHead {
  border-bottom: 1px solid var(--surface-300);
  background-color: var(--surface-dark-200);
  height: 50px;
  padding: var(--space-1);
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;
  color: var(--onSurface-dark);
  text-align: start;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
}

.tData {
  border: 0.01px solid var(--surface-300);
  background-color: var(--surface-200);
  height: 80px;
  min-width: 100px;
  padding: var(--space-0) var(--space-1);
  vertical-align: middle;
  font-weight: $fontWeightNormal;
  text-align: start;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
}