.slideIn {
  position: relative;
}

.button {
  border: none;
  width: fit-content;
  font-weight: 500;
}

.children {
  z-index: 99999;
  position: fixed;
  top: 0;
  right: -360px;
  background-color: white;
  height: 100%;
  width: 360px;
  overflow: auto;
  transition: right 0.3s ease-in-out;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
}

.showChildren {
  right: 0;
}

.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
}