.slide-in {
  position: relative;
}

.button {
  width: fit-content;
  padding: 0;
  border: none;
  font-weight: 500;
}

.children {
  position: fixed;
  z-index: 99999;
  top: 0;
  overflow: auto;
  width: 450px;
  max-width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 4px #0000004d;
  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-1);
  background-color: var(--surface-dark-100);
  color: var(--on-surface-dark);
}

.icon {
  padding: 0;
  border: none;

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: var(--on-surface-dark);
    }
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.8);
}
