.form {
  max-width: 600px;
  width: 100%;
  margin: var(--space-2) auto;
  background-color: rgb(var(--color-light-2));
  padding: var(--space-2) var(--space-4);
}

.title {
  color: rgb(var(--color-base-0));
  margin-bottom: var(--space-1);
  font-size: var(--font-size-xl);
}
