.label {
  padding-bottom: var(--space-0);
  display: block;
}

.inputBox {
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  min-height: 46px;
}

.input {
  text-align: center;
  height: 100%;
  width: 46px;
  border: none;
  background-color: transparent;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btnQuantity {
  padding: 10px;
  height: 100%;
  width: 46px;
  border: none;

  svg {
    color: gray;
  }

  &:hover {
    svg {
      color: black;
    }
  }
}