$boxDimension: 40px;

.label {
  display: block;
}

.inputBox {
  width: fit-content;
  display: flex;
  align-items: center;
  min-height: $boxDimension;

  @include themed {
    border: 1px solid t($onBackground);
  }
}

.input {
  text-align: center;
  height: 100%;
  width: $boxDimension;
  border: none;
  background-color: transparent;

  @include themed {
    color: t($onBackground);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btnQuantity {
  padding: var(--space-0);
  height: 100%;
  width: $boxDimension;
  border: none;

  svg {
    @include themed {
      color: t($onBackground);
    }
  }
}
