.btn {
  width: 100%;
  margin-top: 10px;
}
.buttons {
  padding: var(--space-1);
  padding-top: 0;
}
.footer {
  background-color: var(--dark);
  color: var(--light);
  border-top: 0.1px solid rgba(var(--dark), 0.2);
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-0) var(--space-1);
  border-bottom: 0.1px solid rgba(var(--dark), 0.2);
}
