.btn {
  width: 100%;
  margin-top: 10px;
}
.buttons {
  padding: var(--space-1);
  padding-top: 0;
}
.footer {
  color: var(--onSurface-dark);
  background-color: var(--surface-dark);
  border-top: 0.1px solid var(--surface-300);
}

.subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-0) var(--space-1);
  border-bottom: 0.1px solid var(--surface-300);
}
