$maxHeight: 600px;

.container {
  width: 100%;
  height: fit-content;
  background-color: var(--light);
}

.selectedImage {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
  display: block;
  padding: 0px;
  border-right: 2px solid var(--light);

  .image {
    width: 100%;
    object-fit: cover;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.selected {
}
