// @include text-shorten(3);
@mixin text-shorten($numLines: 1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: $numLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin fade($type) {
  @if $type== 'hide' {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== 'show' {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

// @include fluid-font(320px, 1024px, 22px, 55px);
@mixin fluid-font($min-width, $max-width, $min-font-size, $max-font-size) {
  $unit1: unit($min-width);
  $unit2: unit($max-width);
  $unit3: unit($min-font-size);
  $unit4: unit($max-font-size);

  @if $unit1 ==$unit2 and $unit1 ==$unit3 and $unit1 ==$unit4 {
    & {
      font-size: $min-font-size;
      line-height: $min-font-size * 1.618;

      @media screen and (min-width: $min-width) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
        );
        line-height: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * 1.618 *
            ((100vw - #{$min-width}) / #{strip-unit($max-width - $min-width)})
        );
      }

      @media screen and (min-width: $max-width) {
        font-size: $max-font-size;
        line-height: $max-font-size * 1.618;
      }
    }
  }
}

@mixin underline($color) {
  position: relative;
  display: block;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 1px;
    height: 1px;
    max-width: 40px;
    background-color: $color;
    border-radius: $radius;
    width: 60%;
  }
}

@mixin boxShadow($level) {
  @if $level ==1 {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 0 3px rgba(0, 0, 0, 0.08);
  } @else if $level ==2 {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 0 4px rgba(0, 0, 0, 0.12);
  } @else if $level ==3 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 0 10px rgba(0, 0, 0, 0.14);
  } @else if $level ==4 {
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.25), 0 0 17px rgba(0, 0, 0, 0.2);
  } @else if $level ==5 {
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.3), 0 0 22px rgba(0, 0, 0, 0.24);
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin overlay($bgColor: #000000, $bgOpacity: 0.6) {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(($bgColor), $bgOpacity);
    z-index: 0;
  }
}

@mixin gradient-overlay($bgColor: #000000, $deg: 0deg) {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: rgba($bgColor, 0.6);
    background: linear-gradient(
      $deg,
      rgba($bgColor, 0.8) 0%,
      rgba($bgColor, 0.4) 50%,
      rgba($bgColor, 0) 100%
    );
  }
}

@mixin borderLight($color, $opacity: 0.5) {
  border: 0.1px solid rgba($color, $opacity);
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 14px 40px;
  border-radius: $radius;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;
  transition: all 0.3s ease-in;
  border: 2px solid transparent;
  @include boxShadow(2);
}

@mixin button-primary {
  @include button;
  background-color: var(--primary-500);
  color: var(--onSurface-dark);

  &:hover:enabled {
    background-color: var(--primary-700);
  }
}

@mixin button-secondary {
  @include button;
  background-color: var(--complementary-500);
  border: 2px solid var(--complementary-600);
  color: var(--onSurface-dark);

  &:hover:enabled {
    background-color: var(--complementary-700);
  }
}

@mixin button-outlined {
  @include button;
  border: 2px solid var(--surface-dark-100);
  background-color: transparent;
  color: var(--surface-dark-100);

  &:hover:enabled {
    background-color: var(--surface-dark-100);
    color: var(--onSurface-dark);
  }
}
