$themes: (
  default: (primary: $color-primary,
    complementary: $color-complementary,
    background: $color-background,
    onBackground: $color-onBackground,
  ),
  dark: (primary: $color-primary,
    complementary: $color-complementary,
    background: $color-background-dark,
    onBackground: $color-onBackground-dark,
  ),
);