// Light them
$color-background-1: #e6e6e6;
$color-background-2: lighten($color-background-1, 6%);
$color-background-3: lighten($color-background-1, 12%);
$color-onBackground: darken($color-background-1, 75%);

// Dark theme
$color-background-dark-1: #0f0f10;
$color-background-dark-2: lighten($color-background-dark-1, 5%);
$color-background-dark-3: lighten($color-background-dark-1, 10%);
$color-onBackground-dark: lighten($color-background-dark-1, 75%);

// Helper variable
$primary: 'primary';
$complementary: 'complementary';
$background-1: 'background-1';
$background-2: 'background-2';
$background-3: 'background-3';
$onBackground: 'onBackground';

$themes: (
  default: (
    primary: $color-primary,
    complementary: $color-complementary,
    background-1: $color-background-1,
    background-2: $color-background-2,
    background-3: $color-background-3,
    onBackground: $color-onBackground,
  ),
  dark: (
    primary: $color-primary,
    complementary: $color-complementary,
    background-1: $color-background-dark-1,
    background-2: $color-background-dark-2,
    background-3: $color-background-dark-3,
    onBackground: $color-onBackground-dark,
  ),
);
