@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0.013 185);
  --card: oklch(0.97 0.013 185);
  --popover: oklch(0.97 0.013 185);
  --sidebar: oklch(0.97 0.013 185);
  --foreground: oklch(0.219 0 0);
  --card-foreground: oklch(0.219 0 0);
  --popover-foreground: oklch(0.219 0 0);
  --sidebar-foreground: oklch(0.219 0 0);
  --primary: oklch(0.87 0.1464 198.61);
  --sidebar-primary: oklch(0.87 0.1464 198.61);
  --primary-foreground: oklch(0.218 0 0);
  --sidebar-primary-foreground: oklch(0.218 0 0);
  --secondary: oklch(0.9 0.022 182);
  --accent: oklch(0.9 0.022 182);
  --sidebar-accent: oklch(0.9 0.022 182);
  --secondary-foreground: oklch(0.218 0 0);
  --accent-foreground: oklch(0.218 0 0);
  --sidebar-accent-foreground: oklch(0.218 0 0);
  --muted: oklch(0.9 0.013 185);
  --muted-foreground: oklch(0.608 0.016 180);
  --destructive: oklch(0.597 0.238 29);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.85 0.04 183);
  --sidebar-border: oklch(0.85 0.04 183);
  --ring: oklch(0.847 0.079 182);
  --sidebar-ring: oklch(0.847 0.079 182);
  --input: oklch(0.847 0.036 183);
  --chart-1: oklch(0.874 0.166 173);
  --chart-2: oklch(0.824 0.169 167);
  --chart-3: oklch(0.785 0.133 193);
  --chart-4: oklch(0.715 0.167 157);
  --chart-5: oklch(0.673 0.122 176);
  --radius: 0.3rem;
}

.dark {
  --background: oklch(0.233 0.009 184);
  --card: oklch(0.233 0.009 184);
  --popover: oklch(0.233 0.009 184);
  --sidebar: oklch(0.233 0.009 184);
  --foreground: oklch(0.963 0 0);
  --card-foreground: oklch(0.963 0 0);
  --popover-foreground: oklch(0.963 0 0);
  --sidebar-foreground: oklch(0.963 0 0);
  --primary: oklch(0.87 0.1464 198.61);
  --sidebar-primary: oklch(0.87 0.1464 198.61);
  --primary-foreground: oklch(0.218 0 0);
  --sidebar-primary-foreground: oklch(0.218 0 0);
  --secondary: oklch(0.346 0.031 180);
  --accent: oklch(0.346 0.031 180);
  --sidebar-accent: oklch(0.346 0.031 180);
  --secondary-foreground: oklch(0.961 0 0);
  --accent-foreground: oklch(0.961 0 0);
  --sidebar-accent-foreground: oklch(0.961 0 0);
  --muted: oklch(0.378 0.023 184);
  --muted-foreground: oklch(0.694 0.016 181);
  --destructive: oklch(0.613 0.228 27);
  --destructive-foreground: oklch(0.961 0 0);
  --border: oklch(0.385 0.048 179);
  --sidebar-border: oklch(0.385 0.048 179);
  --ring: oklch(0.494 0.084 177);
  --sidebar-ring: oklch(0.494 0.084 177);
  --input: oklch(0.38 0.044 180);
  --chart-1: oklch(0.906 0.124 179);
  --chart-2: oklch(0.904 0.113 174);
  --chart-3: oklch(0.914 0.09 194);
  --chart-4: oklch(0.908 0.095 165);
  --chart-5: oklch(0.908 0.077 182);
}

/* Add Tailwind v4 @theme configuration as needed */
/* Example: @theme { --color-primary: var(--primary); } */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-heading: var(--font-heading);
  --font-display: var(--font-display);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table,
th,
td {
  padding: 0.2rem;
  border: 1px solid var(--foreground);
  font-size: 0.8rem;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
}
button[aria-disabled='true'] {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideDown {
  animation: fadeSlideDown 0.15s ease-out;
}

.product-description {
  ul {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
  li {
    padding-left: 0.5rem;
    list-style: disc;
  }
  p {
    margin-bottom: 0.5rem;
  }
  table {
    margin-bottom: 0.5rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
