html,
body {
  position: relative;
  font-family: $sans-serif, Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%; //fix for iOS
  letter-spacing: 1px;
}

a,
button {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  display: flex;
  font-family: $sans-serif;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled,
  &[disabled='disabled'] {
    cursor: unset !important;
    opacity: 0.5;
  }
}

*:focus:not(:focus-visible) {
  outline: none;
}

.Toastify__toast,
.Toastify__toast-container {
  z-index: 99999999999999 !important;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
