* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif;
  background-color: #eef2ff;
  position: relative;
  height: 100vh;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: 'Lora', serif;
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled,
  &[disabled='disabled'] {
    opacity: 0.6;
    cursor: not-allowed !important;
  }
}

li {
  list-style: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 0.125rem solid $strong;
  outline-offset: 0.125rem;
}

*::-webkit-input-placeholder {
  color: rgb(147, 147, 147);
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: rgb(147, 147, 147);
  opacity: 1;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: rgb(147, 147, 147);
  opacity: 1;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(147, 147, 147);
}
*::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(147, 147, 147);
}
*::placeholder {
  /* modern browser */
  color: rgb(147, 147, 147);
}

td,
th {
  padding: 6px;
  border: 1px solid #d4d4d4;
  text-align: center;
}
table {
  border-collapse: collapse;
  background-color: white;
}

.aa-Panel {
  z-index: 999999999;
}

mark {
  color: blue !important;
}

.Toastify__toast,
.Toastify__toast-container {
  z-index: 99999999999999 !important;
}
