:root {
  --baseline: 0.7rem;
  --space-0: var(--baseline);
  --space-1: calc(var(--baseline) * 2);
  --space-2: calc(var(--baseline) * 4);
  --space-3: calc(var(--baseline) * 6);
  --space-4: calc(var(--baseline) * 8);
  --space-5: calc(var(--baseline) * 10);
  --space-6: calc(var(--baseline) * 12);
}