@use 'sass:color';
@use 'sass:string';
@use 'sass:meta';

$primary: #1383d3;
$warning: #ffd752;
$success: #52a86e;
$error: #ee2d2d;
$surface: #c9c9c9;
$complementary: color.complement($primary);
$surface-dark: #1e1e1e;
$primary-dark: #0e79a3;
$warning-dark: #f7b924;
$success-dark: #2f9652;
$error-dark: #ff5151;
$complementary-dark: color.complement($primary-dark);
$surface-dark-dark: #000000;
$colors-light: (
  primary-100: color.adjust($primary, $lightness: 30%),
  primary-200: color.adjust($primary, $lightness: 20%),
  primary-300: color.adjust($primary, $lightness: 10%),
  primary-400: color.adjust($primary, $lightness: 5%),
  primary-500: $primary,
  primary-600: color.adjust($primary, $lightness: -5%),
  primary-700: color.adjust($primary, $lightness: -10%),
  primary-800: color.adjust($primary, $lightness: -20%),
  primary-900: color.adjust($primary, $lightness: -30%),
  complementary-100: color.adjust($complementary, $lightness: 30%),
  complementary-200: color.adjust($complementary, $lightness: 20%),
  complementary-300: color.adjust($complementary, $lightness: 10%),
  complementary-400: color.adjust($complementary, $lightness: 5%),
  complementary-500: $complementary,
  complementary-600: color.adjust($complementary, $lightness: -5%),
  complementary-700: color.adjust($complementary, $lightness: -10%),
  complementary-800: color.adjust($complementary, $lightness: -20%),
  complementary-900: color.adjust($complementary, $lightness: -30%),
  warning-100: color.adjust($warning, $lightness: 30%),
  warning-200: color.adjust($warning, $lightness: 20%),
  warning-300: color.adjust($warning, $lightness: 10%),
  warning-400: color.adjust($warning, $lightness: 5%),
  warning-500: $warning,
  warning-600: color.adjust($warning, $lightness: -5%),
  warning-700: color.adjust($warning, $lightness: -10%),
  warning-800: color.adjust($warning, $lightness: -20%),
  warning-900: color.adjust($warning, $lightness: -30%),
  success-100: color.adjust($success, $lightness: 30%),
  success-200: color.adjust($success, $lightness: 20%),
  success-300: color.adjust($success, $lightness: 10%),
  success-400: color.adjust($success, $lightness: 5%),
  success-500: $success,
  success-600: color.adjust($success, $lightness: -5%),
  success-700: color.adjust($success, $lightness: -10%),
  success-800: color.adjust($success, $lightness: -20%),
  success-900: color.adjust($success, $lightness: -30%),
  danger-100: color.adjust($error, $lightness: 30%),
  danger-200: color.adjust($error, $lightness: 20%),
  danger-300: color.adjust($error, $lightness: 10%),
  danger-400: color.adjust($error, $lightness: 5%),
  danger-500: $error,
  danger-600: color.adjust($error, $lightness: -5%),
  danger-700: color.adjust($error, $lightness: -10%),
  danger-800: color.adjust($error, $lightness: -20%),
  danger-900: color.adjust($error, $lightness: -30%),
  surface-100: color.adjust($surface, $lightness: 20%),
  surface-200: color.adjust($surface, $lightness: 15%),
  surface-300: color.adjust($surface, $lightness: 10%),
  surface-400: color.adjust($surface, $lightness: 5%),
  surface-500: $surface,
  surface-600: color.adjust($surface, $lightness: -5%),
  surface-700: color.adjust($surface, $lightness: -10%),
  surface-800: color.adjust($surface, $lightness: -15%),
  surface-900: color.adjust($surface, $lightness: -35%),
  surface-dark-100: $surface-dark,
  surface-dark-200: color.adjust($surface-dark, $lightness: 5%),
  surface-dark-300: color.adjust($surface-dark, $lightness: 10%),
  surface-dark-400: color.adjust($surface-dark, $lightness: 15%),
  surface-dark-500: color.adjust($surface-dark, $lightness: 20%),
  on-surface-dark: #efefef,
  on-surface-hight: #111111,
  on-surface-medium: #373737,
  on-surface-light: #747474,
  on-surface-disabled: #6c6c6c,
);

@function hex-to-rgb($hex) {
  @return color.channel($hex, 'red', $space: rgb), color.channel($hex, 'green', $space: rgb),
    color.channel($hex, 'blue', $space: rgb);
}

@mixin generate-colors($colors) {
  @each $color, $value in $colors {
    @if meta.type-of($value) == 'color' {
      --#{$color}: #{$value};
    } @else {
      --#{$color}: var(--#{$value});
    }
  }

  @each $color, $value in $colors {
    @if meta.type-of($value) == 'color' {
      --rgb-#{$color}: #{hex-to-rgb($value)};
    } @else {
      --rgb-#{$color}: var(--rgb-#{$value});
    }
  }
}
:root {
  @include generate-colors($colors-light);

  @media (prefers-color-scheme: dark) {
    @include generate-colors($colors-light);
  }
}
