h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: $fontWeightSemiBold;
}

h1 {
  @include fluid-font(320px, 1024px, $fontSize-500, $fontSize-600);
  font-weight: $fontWeightBold;

  &.big {
    @include fluid-font(320px,
      1024px,
      $fontSize-600 * $ratio * $ratio,
      $fontSize-600 * $ratio * $ratio * $ratio);
  }
}

h2 {
  @include fluid-font(320px, 1024px, $fontSize-400, $fontSize-500);
}

h3 {
  @include fluid-font(320px, 1024px, $fontSize-300, $fontSize-400);
}

h4 {
  @include fluid-font(320px, 1024px, $fontSize-200, $fontSize-300);
}

h5 {
  @include fluid-font(320px, 1024px, $fontSize-100, $fontSize-200);
}

h6 {
  @include fluid-font(320px, 1024px, $fontSize-100, $fontSize-100);
}

strong {
  font-weight: $fontWeightBold;
}

label,
a,
button,
p {
  font-weight: $fontWeightNormal;
}

small {
  @include fluid-font(320px, 1024px, $fontSize--100, $fontSize--100);
}

a,
button,
p,
b {
  line-height: 24px;
  @include fluid-font(320px, 1024px, $fontSize--100, $fontSize-100);
}

b {
  font-weight: $fontWeightSemiBold;
}