$sans-serif: 'Poppins', sans-serif;
$radius: 10px;
$header-height: 60px;
$header-height-mobile: 50px;
$text-shadow-100: 0.3px 0.3px 0.3px #00000099;
$text-shadow-200: 0.7px 0.7px 0.7px #00000099;

:root {
  --radius: #{$radius};
  --header-height: #{$header-height};
  --header-height-mobile: #{$header-height-mobile};
  --text-shadow-100: #{$text-shadow-100};
  --text-shadow-200: #{$text-shadow-200};
  --sans-serif: #{$sans-serif};
}
