.topHeader {
  height: 30px;
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 12px;
  z-index: 9999999;
}
