.banner {
  position: relative;
  width: 100%;
  background-color: gray;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  padding: 120px 30px 120px 60px;
  color: $secondary;
  margin: 0 0 30px 0;
}

.container {
  min-height: 500px;
}
.upTitle {
  color: $primary;
  letter-spacing: 3px;
}

.title {
  margin-bottom: 20px;
}
.subtitle {
  margin-bottom: 30px;
  color: $primary;
  max-width: 437px;
}
.btn {
  width: fit-content;
}
