.Logo {
  cursor: pointer;
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;

  img {
    width: fit-content !important;
    height: 60%;
  }

  * {
    @include themed {
      stroke: t($onBackground);
    }
  }
}
