.Logo {
  position: relative;
  display: flex;
  align-items: center;
  height: 80%;
  width: fit-content;
  cursor: pointer;

  img {
    height: 60%;
    width: fit-content !important;
  }

  * {
    stroke: var(--onSurface-dark);
  }
}