.Logo {
  cursor: pointer;
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  margin-right: 60px;
  font-size: var(--font-size-md);
  img {
    width: fit-content !important;
    height: 60%;
  }
}
