.card {
  display: flex;
  border-radius: 3px;
  background-color: var(--surface-200);
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: var(--on-surface-medium);
}

.title {
  font-size: 1.2rem;
}

.content {
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-1);
}

.image {
  position: relative;
  width: 300px;
  overflow: hidden;

  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.btn {
  margin-left: 8px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.options {
  margin-top: 20px;
}