.ListDisplay {
  width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.row {
  display: block;
}
