.ShopBtn {
  background-color: $strong;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
