.ProductDetails {
  background-color: rgb(var(--color-light-2));
  margin-top: var(--space-4);
  padding: var(--space-2);

  @include themed {
    background-color: lighten(t($background), 5%);
  }

}

.title {}

.description {}