.productCardDefault {
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-0);
}

.quickView {
  position: absolute;
  padding: 4px;
  top: var(--space-0);
  right: var(--space-0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;

  @include fluid-font(320px, 1424px, $fontSize-300, $fontSize-400);

  @include themed {
    background-color: rgba(t($background), 0.6);
    color: t($onBackground);
    border: 0.1px solid rgba(t($onBackground), 0.6);
  }
}

.image {
  position: relative;
  overflow: hidden;

  &:hover {
    .quickView {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
  }
}

.title {
  white-space: pre-wrap;
  @include text-shorten(1);
}

.productType {
  width: fit-content;
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;

  @include themed {
    color: rgba(t($onBackground), 0.6);
  }
}

.description {
}
