.productCardDefault {
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.content {
  padding: 8px;
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.quickView {
  background-color: rgb(var(--color-primary-0));
  color: white;
  text-align: center;
  padding: 4px;
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  transition: opacity 0.3s ease-in;
}

.image {
  position: relative;
  overflow: hidden;

  &:hover .quickView {
    opacity: 1;
  }
}

.title {
  margin-bottom: 10px;
  white-space: pre-wrap;
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: var(--font-size-md);
}

.productType {
  color: rgb(var(--color-dark-3));
  width: fit-content;
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.description {
}
