.productCardDefault {
  cursor: pointer;
  overflow: hidden;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}

.content {
  padding: 8px 0;
  text-align: center;
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quickView {
  background-color: $primary;
  color: white;
  text-align: center;
  padding: 4px;
  position: absolute;
  bottom: -100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.image {
  position: relative;
  overflow: hidden;

  span {
    transition: transform 0.25s;
  }
  &:hover span {
    transform: scale(1.04);
  }
  &:hover .quickView {
    bottom: 0;
  }
}

.title {
  margin-bottom: 10px;
}

.description {
}
