.orderCard {
}

.header {
  margin-bottom: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderCardDetail {
}

.orderCardLineItem {
}

.orderCardLines {
}

.link {
  text-decoration: underline;
}
