.orderCard {
  padding: var(--space-2);
  border-radius: $radius;
  width: 100%;
  background-color: var(--surface-200);
  color: var(--onSurface-medium);
  border: 0.1px solid var(--surface-300);
}

.header {
  margin-bottom: var(--space-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  text-decoration: underline;
}
