.orderCard {
  border-radius: $radius;
  margin-bottom: var(--space-1);
  background-color: var(--surface-200);
  width: 100%;
  padding: var(--space-2);
  color: var(--onSurface-medium);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-1);
}

.trackContainer {
  display: flex;
}

.noTrackingUrl {
  border: 1px solid var(--surface-500);
  background-color: var(--surface-300);
  padding: 4px;

  p {
    font-size: 12px;
  }
}

.link {
  text-decoration: underline;
}

.trackButton {
  border: 2px solid var(--surface-dark-100);
  width: fit-content;
  padding: 2px 4px;
}