$width: 65px;
$padding: 1px;
$innerSize: 30px;
$height: 34px;

.toggleTheme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $height;
  width: $width;
  padding: 8.7px;
  border-radius: 99em;
  transition: all 0.3s ease;
  background-color: var(--complementary-500);
  @include borderLight(var(--complementary-700), 0.6);
}

.inner {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%) translateX(-0%);
  width: $innerSize;
  min-height: $innerSize;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: var(--surface-dark-100);
  @include borderLight(var(--RBG-primary-100), 1);
  z-index: 0;
}

.moon,
.sun {
  z-index: 99;
}
.moon {
  path {
    fill: var(--surface-dark-100);
    stroke: var(--surface-100);
  }
}

.sun {
  path {
    fill: var(--complementary-600);
    stroke: var(--surface-100);
  }
}

.active {
  .inner {
    transform: translateY(-50%) translateX(102%);
  }

  .sun {
    path {
      stroke: var(--onSurface-dark);
    }
  }

  .moon {
    path {
      stroke: var(--onSurface-dark);
      fill: var(--complementary-600);
    }
  }
}
