$width: 65px;
$padding: 1px;
$inner-size: 30px;
$height: 34px;

.toggle-theme {
  position: relative;
  display: flex;
  width: $width;
  height: $height;
  align-items: center;
  justify-content: space-between;
  padding: 8.7px;
  border-radius: 99em;
  background-color: var(--complementary-500);
  transition: all 0.3s ease;

  @include border-light(var(--complementary-700), 0.6);
}

.inner {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 2px;
  width: $inner-size;
  min-height: $inner-size;
  border-radius: 50%;
  background-color: var(--surface-dark-100);
  transform: translateY(-50%) translateX(-0%);
  transition: all 0.3s ease;
  
  @include border-light(var(--RBG-primary-100), 1);
}

.moon,
.sun {
  z-index: 99;
}

.moon {
  path {
    fill: var(--surface-dark-100);
    stroke: var(--surface-100);
  }
}

.sun {
  path {
    fill: var(--complementary-600);
    stroke: var(--surface-100);
  }
}

.active {
  .inner {
    transform: translateY(-50%) translateX(102%);
  }

  .sun {
    path {
      stroke: var(--on-surface-dark);
    }
  }

  .moon {
    path {
      fill: var(--complementary-600);
      stroke: var(--on-surface-dark);
    }
  }
}