.carousel {
  position: relative;
  height: 100%;
  overflow: hidden;

  .inner {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    width: 100%;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
  }

  .button {
    z-index: 99;
    position: relative;
    border: none;
    background-color: #e8e8e8;
    height: 30px;
    width: 100%;

    &:hover {
      border: 0.1px solid rgb(162 162 162);
    }
  }

  .item {
    position: relative;
    flex: 0 0 auto;
  }
}