.container {
  width: 100%;
  padding-bottom: 1rem;
  display: block;
}

.label {
  margin-bottom: 6px;
}

.input {
  height: 46px;
  width: 100%;
  padding-left: 1rem;
  border: 0.4px solid gray;
  border-radius: 3px;
  font-family: roboto;
  resize: vertical;
}
