.loader {
  z-index: 9999999999999999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--rgb-surface-100) 0.3);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(12px);
}