.reviews {
  position: relative;
  background-color: var(--surface-200);
}

.customer-reviews {
  padding: var(--space-1);
  border-radius: $radius;
}

.form {
  textarea {
    background-color: var(--surface-300);

    @include placeholder {
      color: var(--surface-600);
    }
  }
}

.rating {
  padding: var(--space-2);
  padding-bottom: unset;

  h6 {
    margin-bottom: var(--space-0);
  }
}

.button {
  margin-top: var(--space-0);
  margin-left: auto;
}

.add-review {
  padding-bottom: var(--space-2);
}

.login {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-2);
  border-radius: $radius;
  margin: 0 auto;
  background-color: var(--surface-300);

  b {
    max-width: 300px;
    margin-bottom: var(--space-1);
    text-align: center;
  }
}