.ProductReviews {
  position: relative;
  background-color: var(--surface-200);
}

.customerReviews {
  border-radius: $radius;
  padding: var(--space-1);
}

.reviewForm {
  textArea {
    background-color: var(--surface-300);

    @include placeholder {
      color: var(--surface-600);
    }
  }
}

.rating {
  padding: var(--space-2);
  padding-bottom: unset;

  h6 {
    margin-bottom: var(--space-0);
  }
}

.buttonSubmit {
  margin-top: var(--space-0);
  margin-left: auto;
}

.addReview {
  padding-bottom: var(--space-2);
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  margin: 0 auto;
  background-color: var(--surface-300);
  width: fit-content;
  padding: var(--space-2);

  b {
    margin-bottom: var(--space-1);
    max-width: 300px;
    text-align: center;
  }
}