.Price {
  display: flex;
  align-items: center;
}

.compareAtPriceV2 {
  color: $color-primary;
  margin-left: 8px;
  text-decoration: line-through;
  transform: scale(0.9);
  transform-origin: center;
}

.currentPrice {
  strong {
    color: rgb(var(--color-dark-0));
  }
}