.Price {
  display: flex;
  align-items: center;
}

.compareAtPriceV2 {
  color: $color-primary;
  margin-left: 8px;
  text-decoration: line-through;
  transform: scale(0.9);
  transform-origin: center;
  font-weight: $fontWeightSemiBold;
}

.currentPrice {
  font-weight: $fontWeightMedium;
}

.medium {
  p {
    @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
  }
}

.large {
  p {
    font-size: $fontSize-200;
  }
}
