.container {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;

  svg {
    font-size: 22px;
  }
}

.totalItems {
  position: absolute;
  bottom: 20px;
  right: -10px;
  border-radius: 50px;
  background-color: $strong;
  font-size: 12px;
  padding: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: $primary;
  color: white;
}
