.container {
  display: flex;
  gap: var(--space-0);
  position: relative;
  margin-left: auto;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;

  path {
    fill: var(--onSurface-dark);
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }
  path {
    fill: var(--onSurface-dark);
  }
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.totalItems {
  position: absolute;
  padding: 3px;
  border-radius: 50%;
  top: -5px;
  right: -9px;
  min-width: 1rem;
  min-height: 1rem;
  background-color: var(--complementary-500);
  color: var(--surface-900);
  @include borderLight(var(--RBG-primary), 1);

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 10px;
    color: var(--onSurface-dark);
  }
}
