@use '@/styles/mixins' as *;

.search {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid var(--surface-300);
  background-color: var(--surface-100);
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  label {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: var(--radius);
  color: var(--on-surface-hight);
  font-size: 3rem;

  @include placeholder {
    color: var(--surface-300);
  }

  &:focus {
    outline: none;
  }
}
