.AccountInfo {
  padding: var(--space-2);
  border-radius: $radius;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}
