.PhotoSlider {
  position: sticky;
  top: 0;
  height: fit-content;
  width: 100%;

  img {
    height: fit-content;
    width: 100%;
    object-fit: contain;
  }
}

.indicators {
  position: absolute;
  bottom: var(--space-0);
  right: var(--space-0);
  border-radius: $radius;
  background-color: var(--surface-dark-100);
  padding: var(--space-0);
  color: var(--onSurface-dark);
}

.buttons {
  position: absolute;
  top: var(--space-1);
  right: var(--space-1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-0);

  button {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--surface-300);
    height: 40px;
    width: 40px;
    font-size: 30px;
    cursor: pointer;
  }
}