.Collapsible {
  width: 100%;
  transition: all 0.2s ease-in-out 0.05s;

  @include themed {
    border-bottom: 1px solid t($onBackground);
    &:last-of-type {
      border: none;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-0);
  height: 40px;
  width: 100%;
  border: none;
}

.last {
  border-bottom: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 14px;
  height: 14px;

  & span {
    width: 14px;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;

    @include themed {
      background-color: t($onBackground);
    }
  }

  & span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.children {
  overflow: hidden;
  max-height: 0px;
  padding: 0px 8px;
  display: none;
}

.open {
  & > .children {
    display: block;
    margin-bottom: 10px;
    animation: open 0.3s ease-in-out forwards;
  }

  & > .header {
    transition: none;
    border-bottom: 1px solid transparent;
  }

  & .icon {
    & span:nth-child(2) {
      transform: translate(-50%, -50%) rotate(0deg);
      opacity: 0;
    }
  }
}

.close {
  & > .children {
    animation: close 0.2s ease-in-out forwards;
  }
}

@keyframes open {
  0% {
    max-height: 0px;
  }

  100% {
    max-height: 10000px;
  }
}

@keyframes close {
  0% {
    max-height: 1000px;
  }

  100% {
    max-height: 0px;
  }
}
