.collapsible {
  width: 100%;
  transition: all 0.2s ease-in-out 0.05s;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-1);
  border: none;
  color: var(--on-surface-hight);
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.05s linear;

  svg {
    width: 16px;
    height: 16px;
    fill: var(--on-surface-hight);
  }

  path {
    stroke: var(--on-surface-hight);
  }

  &.open {
    transform: rotate(90deg);
  }
}