.Collapsible {
  width: 100%;
  transition: all 0.2s ease-in-out 0.05s;
  background-color: var(--surface-200);
  border-radius: $radius;
  border: 0.1px solid var(--surface-400);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-2);
  height: 40px;
  width: 100%;
  border: none;
  border-radius: $radius;

  &:hover {
    background-color: var(--surface-400);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.05s linear;

  svg {
    width: 16px;
    height: 16px;
  }

  &.open {
    transform: rotate(90deg);
  }
}

.open {
  &>.header {
    border-bottom: 0.1px solid var(--surface-400);
  }
}