.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--space-2);
}

.noResult {
  width: 100%;
  text-align: center;
  margin: var(--space-2) 0;
  padding: 8px;
  background-color: rgb(var(--RGB-dark));
  color: rgb(var(--RGB-light));
  border-radius: 3px;
}
