.CollectionCard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-background;
}

.inner {
  backdrop-filter: grayscale(70%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.content {
  width: 100%;
  height: fit-content;
  min-width: 160px;
  max-width: 200px;
  padding: var(--space-1);
}

.title {
  text-transform: uppercase;
  margin-bottom: var(--space-0);
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.link {
  font-weight: $fontWeightSemiBold;
  text-transform: uppercase;
  width: fit-content;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
  @include underline($background);
}
