.CollectionCard {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: $radius;
  border-radius: $radius;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  color: var(--onSurface-hight);
  transition: all 0.2s ease-in-out;
  @include gradient-overlay(var(--RGB-surface-100));
  @include boxShadow(2);

  &:hover {
    background-size: 110%;
  }
}

.content {
  z-index: 999;
  position: relative;
  margin-bottom: var(--space-0);
  margin-left: var(--space-0);
  height: fit-content;
  width: 100%;
  width: fit-content;
  padding: var(--space-1);
}

.title {
  margin-bottom: var(--space-0);
  text-transform: uppercase;
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.subtitle {
  margin-bottom: var(--space-1);
  max-width: 200px;
  font-weight: 500;
}

.link {
  width: fit-content;
  padding: 10px 20px;
}