.CollectionCard {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-background-2;
  border-radius: $radius;
  transition: all 0.2s ease-in-out;
  min-height: 260px;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color-onBackground, 0.2);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-size: 110%;

    &::after {
      background-color: rgba($color-onBackground, 0.8);
    }
  }
}

.content {
  position: relative;
  z-index: 999;
  width: 100%;
  height: fit-content;
  width: fit-content;
  padding: var(--space-1);
  margin-bottom: var(--space-0);
  margin-left: var(--space-0);
}

.title {
  text-transform: uppercase;
  margin-bottom: var(--space-0);
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.subtitle {
  margin-bottom: var(--space-1);
  max-width: 200px;
}

.link {
  background-color: $color-onBackground;
  width: fit-content;
  border-radius: $radius;
  padding: var(--space-0) var(--space-1);
  display: block;

  span {
    font-weight: $fontWeightNormal;
    width: fit-content;
    @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-100);
  }
}
