.banner {
  position: relative;
  margin-bottom: var(--space-6);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-height: 800px;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  color: var(--on-surface-hight);

  @include overlay(var(--rgb-surface-100), 0.4);

  @include respond(tablet) {
    height: 70vh;
  }

  @include respond(mobile) {
    margin-bottom: var(--space-3);
    height: 60vh;
  }
}

.inner {
  position: relative;
  justify-content: center;
  border-radius: $radius;
  height: 100%;
  width: 100%;

  @include flex-column;
}

.container {
  z-index: 99;
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  gap: var(--space-2);

  @include respond(tablet) {
    margin-left: var(--space-3);
  }
}

.content {
  height: fit-content;
  width: fit-content;

  &:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
}

.up-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: var(--space-0);

  span {
    z-index: 99;
    position: relative;
    display: block;
    border-radius: $radius;
    background-color: var(--on-surface-hight);
    height: 3px;
    width: 60px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: 500;
}

.subtitle {
  margin-bottom: var(--space-2);
  max-width: 400px;
  font-weight: 500;

  @include text-shorten(3);
}

.link {
  display: block;
  background-color: var(--primary-500);
  width: fit-content;
  color: var(--on-surface-dark);

  @include button;

  &:hover {
    background-color: var(--primary-700);
  }

  p {
    width: fit-content;
    font-weight: 700;
  }
}