.Price {
  display: flex;
  align-items: center;
  gap: var(--space-0);
}

.compareAtPriceV2 {
  opacity: 0.5;
  text-decoration: line-through;
}

.currentPrice {
  font-weight: 600;
  color: var(--onSurface-medium);
}

.small {
  p {
    font-size: 14px;
  }
}

.medium {
  p {
    @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
  }
}

.large {
  p {
    @include fluid-font(320px, 1424px, $fontSize-200, $fontSize-300);
  }
}