.Price {
  display: flex;
  align-items: center;
  gap: var(--space-0);
}

.compareAtPriceV2 {
  text-decoration: line-through;
  opacity: 0.3;
  font-weight: $fontWeightSemiBold;
}

.currentPrice {
  font-weight: $fontWeightSemiBold;
}

.small {
  p {
    @include fluid-font(320px, 1424px, $fontSize--100, $fontSize-100);
  }
}

.medium {
  p {
    @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
  }
}

.large {
  p {
    @include fluid-font(320px, 1424px, $fontSize-200, $fontSize-300);
  }
}
