.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  z-index: 9999;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 240px;
  margin: 0 auto;
  margin-top: var(--space-4);
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  b {
    font-size: 18px;
    margin-top: var(--space-1);
    margin-bottom: var(--space-0);
  }
}

.nextButton {
  margin: var(--space-2) 0;
}
