.container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.7);
}

.form {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 2rem;
  border: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  animation: slide-down 0.3s ease-in-out forwards;
  padding-bottom: 60px;

  svg {
    font-size: 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.labelText {
  font-size: 16px;
}

.buttonClose {
  position: absolute;
  bottom: 0px;
  right: 0;
  border: none;
  cursor: pointer;
  color: gray;
}

@keyframes slide-down {
  0% {
    top: 0px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
