.container {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height;
  bottom: 0;
  width: 100%;
  height: calc(100vh - $header-height );
  z-index: 9999;
  overflow: auto;
  animation: slide-down 0.2s ease-in-out forwards;

  @include themed() {
    background-color: rgba(t($onBackground), 0.6);
    border-top: 0.1px solid rgba(t($onBackground), 0.3);
  }

}

.searchBar {
  padding: 0 var(--space-3);

  @include themed() {
    background-color: t($background);
  }
}

.form {
  position: relative;
  height: fit-content;
  width: 100%;
}

.title {
  padding: var(--space-4) 0 var(--space-1) 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.buttonClose {
  position: absolute;
  right: 0;
  top: var(--space-1);
  font-size: $fontSize-400;
  border: none;
  cursor: pointer;
}

.input {
  width: 100%;
  min-width: 360px;
  height: 3rem;
  padding-left: 1rem;
  font-size: $fontSize-300;
}

@keyframes slide-down {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 83px;
    opacity: 1;
  }
}