.indicators {
  display: flex;
  align-items: center;

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &.left {
      margin-right: 10px;
    }

    &.right {
      margin-left: 10px;
    }

    svg {
      font-size: 1.4rem;
    }
  }
}

.dot {
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  margin-right: 14px;
  background-color: var(--surface-900);

  &.last {
    margin-right: 0;
  }

  &.active {
    outline: 0.125rem solid var(--surface-900);
    outline-offset: 0.2rem;
  }
}