.Indicators {
  display: flex;
  align-items: center;

  .arrow {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &.left {
      margin-right: 10px;
    }

    &.right {
      margin-left: 10px;
    }

    svg {
      @include fluid-font(320px, 1424px, $fontSize-400, $fontSize-500);
    }
  }
}

.dot {
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  margin-right: 14px;
  background-color: var(--surface-900);

  &.last {
    margin-right: 0px;
  }

  &.active {
    outline-offset: 0.2rem;
    outline: 0.125rem solid var(--surface-900);
  }
}