.header {
  width: 100%;
  align-items: center;
  padding: 0 var(--space-1);
  z-index: 999999;
  position: relative;
  @include themed {
    background-color: t($background);
  }
}

.headerInner {
  width: 100%;
  height: $header-height;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
