.header {
  width: 100%;
  align-items: center;
  z-index: 999999;
  position: relative;

  @include themed {
    background-color: t($background);
    border-bottom: 1px solid rgba(t($onBackground), 0.1);
  }
}

.headerInner {
  width: 100%;
  height: $header-height;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
