.CollectionSlugPage {
  display: flex;
  padding-bottom: var(--space-4);
}

.main {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-0);
}

.title {
  margin-bottom: var(--space-1);
}
