.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: var(--space-4);
  max-width: 240px;
  text-align: center;

  img {
    height: 100%;
    width: 100%;
  }

  p {
    margin-top: var(--space-2);
    font-size: 16px;
    font-weight: 500;
  }
}