.list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond('tablet') {
    display: none;
  }
}

.item {
  text-transform: uppercase;
  padding: var(--space-1);
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: var(--onSurface-dark);

  p {
    font-weight: $fontWeightMedium;
  }
}
