.nav {
  height: 100%;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include respond('tablet') {
    display: none;
  }
}

.item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  color: var(--onSurface-dark);

  a {
    padding: 0 var(--space-1);
    min-width: 100px;
    font-weight: $fontWeightSemiBold;
  }
}

.active {
  background-color: var(--surface-dark-200);
}
