.nav {
  height: 100%;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include respond('tablet') {
    display: none;
  }
}

.item {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  color: var(--onSurface-dark);
  border-right: 0.1px solid var(--surface-900);

  &:first-child {
    border-left: 0.1px solid var(--surface-900);
  }

  a {
    padding: 0 var(--space-1);
    min-width: 110px;
    font-weight: $fontWeightSemiBold;

    &:hover {
      background-color: var(--surface-900);
    }
  }
}

.active {
  background-color: var(--surface-dark-200);
}
