.container {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row-reverse;
}
.selectedImage {
  position: relative;
  height: 100%;
  width: 100%;
}

.item {
  position: relative;
  width: 90%;
  height: 96%;
  cursor: pointer;
  border: none;
}
.selected {
  border: 2px solid rgb(0, 0, 0);
}
