.container {
  max-width: 600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.selected {
  position: relative;
  width: 100%;
  min-width: 300px;
}

.gallery {
  width: 100%;
  display: inline-flex;
  gap: 15px;
}

.item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
