@use '@/styles/mixins' as *;

.gallery {
  width: 100%;
  height: 100%;

  @include respond(mobile) {
    display: none;
    visibility: hidden;
  }
}

.inner {
  display: grid;
  width: 100%;
  height: 100%;
  gap: var(--space-1);
  grid-template-columns: 1fr 1fr;

  @include respond(mobile) {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    white-space: nowrap;
  }
}

.gallery-image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border: none;

  @include respond(mobile) {
    flex: 0 0 auto;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel {
  display: none;
  visibility: hidden;

  @include respond(mobile) {
    position: sticky;
    top: var(--space-0);
    display: unset;
    visibility: visible;
  }
}
