.container {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.image {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}
.link {
  &:hover {
    text-decoration: underline;
  }
}

.item {
  text-align: center;
}

.content {
  padding: 10px 0 10px 1rem;
  text-align: start;
}

.title {
  margin-bottom: 1rem;
}

.input {
  text-align: center;
  height: 30px;
  width: 80px;
  background-color: transparent;
  border: none;

  @include themed {
    border-bottom: 1px solid t($onBackground);
    color: t($onBackground);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.delete {
  cursor: pointer;
  svg {
    @include themed {
      color: t($onBackground);
      @include fluid-font(320px, 1424px, $fontSize-400, $fontSize-500);
    }
  }
}

.updateBtn {
  padding: 5px 8px;
  width: 100%;
  margin-top: 20px;
}
