.label {
  width: 100%;
  padding-bottom: var(--space-2);
  display: block;
}

.title {
  display: flex;
}

.required {
  color: rgb(var(--color-red-0));
  margin-left: 2px;
}

.input {
  height: 44px;
  width: 100%;
  padding-left: 1rem;
  border-radius: 1px;
  resize: vertical;

  @include themed() {
    border: 1px solid rgba(t($dark), 0.1);
    background-color: white;

  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}