$boxDimension: 36px;

.label {
  display: block;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.inputBox {
  width: fit-content;
  display: flex;
  align-items: center;
  min-height: $boxDimension;
  border-radius: $radius;
  height: 100%;
  width: 100%;
  border: 1px solid var(--onBackground-600);
  background-color: var(--complementary);
}

.input {
  display: block;
  text-align: center;
  height: 100%;
  width: $boxDimension;
  border: none;
  background-color: transparent;
  color: var(--dark);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btnQuantity {
  height: 100%;
  width: $boxDimension;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-of-type {
    border-right: 1px solid var(--onBackground-600);
  }

  &:last-of-type {
    border-left: 1px solid var(--onBackground-600);
  }

  svg {
    color: var(--dark);
  }
}
