$box-dimension: 36px;

.container {
  margin-top: var(--space-0);
}

.label {
  display: block;
  margin-bottom: 4px;
  width: fit-content;
  font-size: 1.1rem;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid var(--surface-500);
  border-radius: $radius;
  background-color: var(--surface-100);
  min-height: $box-dimension;
  height: 100%;
  width: fit-content;
  overflow: hidden;
}

.input {
  display: block;
  border: none;
  background-color: transparent;
  height: 100%;
  width: calc($box-dimension + 10px);
  font-size: 1.2rem;
  color: var(--on-surface-hight);
  text-align: center;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--surface-200);
  min-height: $box-dimension;
  height: 100%;
  width: $box-dimension;

  &:first-of-type {
    border-right: 1px solid var(--surface-500);
  }

  &:last-of-type {
    border-left: 1px solid var(--surface-500);
  }

  svg {
    color: var(--surface-900);
  }
}