$boxDimension: 36px;

.quantityContainer {
  margin-top: var(--space-0);
}
.label {
  display: block;
  @include fluid-font(320px, 1424px, $fontSize-100, $fontSize-200);
  margin-bottom: 4px;
  width: fit-content;
}

.inputBox {
  width: fit-content;
  display: flex;
  align-items: center;
  min-height: $boxDimension;
  border-radius: $radius;
  height: 100%;
  border: 1px solid var(--surface-500);
  background-color: var(--surface-100);
}

.input {
  display: block;
  text-align: center;
  height: 100%;
  width: calc($boxDimension + 10px);
  border: none;
  background-color: transparent;
  color: var(--onSurface-hight);
  font-size: 17px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.btnQuantity {
  height: 100%;
  width: $boxDimension;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $boxDimension;
  background-color: var(--surface-200);

  &:first-of-type {
    border-right: 1px solid var(--surface-500);
  }

  &:last-of-type {
    border-left: 1px solid var(--surface-500);
  }

  svg {
    color: var(--surface-900);
  }
}
