.buttons {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--space-1);
  gap: 2rem;
  text-align: center;

  & a {
    color: var(--primary);
    font-size: 0.9rem;
    text-decoration: underline;
  }
}