.products {
  margin-bottom: var(--space-6);
}

.header {
  margin-bottom: var(--space-2);
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
}

.button {
  position: relative;
  display: block;
  border: none;
  width: fit-content;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.active {
  font-weight: 700;

  @include underline(var(--surface-900));
}