.productsDisplay {
  margin-bottom: var(--space-6);
}

.header {
  text-align: center;
  margin-bottom: var(--space-2);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--space-2);
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.button {
  position: relative;
  display: block;
  width: fit-content;
  border: none;
  font-weight: $fontWeightMedium;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;

    @include themed {
      background: t($onBackground);
    }
  }

  &:hover::after {
    width: 70%;
  }
}

.active {
  font-weight: $fontWeightBold;

  &::after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;

    @include themed {
      background: t($onBackground);
    }
  }
}
