.productsDisplay {
  margin: var(--space-5) auto;
  max-width: 1000px;
}

.header {
  text-align: center;
  margin-bottom: var(--space-2);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  p {
    font-weight: $fontWeightLight;
  }

  h2 {
    font-weight: $fontWeightBold;
  }
  p,
  h2 {
    @include fluid-font(320px, 1424px, $fontSize-600, $fontSize-600);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  margin-top: var(--space-1);
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--space-2);
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.button {
  border: none;
  font-weight: $fontWeightMedium;
  padding: var(--space-0) 0;
  width: fit-content;
  position: relative;
  display: block;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;

    @include themed {
      background: t($onBackground);
    }
  }

  &:hover::after {
    width: 70%;
  }
}

.active {
  font-weight: $fontWeightBold;

  &::after {
    content: '';
    display: block;
    width: 70%;
    height: 2px;

    @include themed {
      background: t($onBackground);
    }
  }
}
