.productCardDefault {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 330px;
  width: 100%;
  cursor: pointer;
  background-color: var(--surface-100);
  border: 1px solid var(--surface-300);

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    img {
      transform: scale(1.1);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.wishlist {
  border: none;

  svg {
    width: 20px;
    height: 20px;
  }

  path {
    stroke: var(--onSurface-hight);
  }
}

.isWishlist {
  path {
    fill: var(--onSurface-hight);
  }
}

.link {
  display: block;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 999;
  height: 100%;
  border-top: 1px solid rgba(var(--surface-900), 0.1);
  background-color: var(--surface-100);
}

.contentInner {
  height: 100%;
  background-color: var(--surface-200);
  padding: var(--space-0);
}

.image {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;

  img {
    transition: 0.2s all ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.quickView {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: underline;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize-100);
  border: none;
  margin-left: auto;
}

.discount {
  position: absolute;
  left: var(--space-0);
  top: var(--space-0);
  background-color: var(--danger);
  z-index: 999;
  padding: 2px 6px;
  color: var(--surface-900);
  border-radius: $radius;
}

.title {
  white-space: pre-wrap;
  @include text-shorten(1);
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
