.container {
  display: flex;
  position: sticky;
  top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-1) 0 0;
}
.title {
  text-transform: uppercase;
  @include fluid-font(320px, 1424px, $fontSize-400, $fontSize-500);
}

.Carousel {
  overflow: hidden;
  position: relative;
  width: 100%;

  .inner {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    width: calc(100% - 60px);
    height: 100%;
    width: 100%;
  }

  .CarouselItem {
    flex: 0 0 auto;
  }
}

.button {
  position: relative;
  z-index: 99;
  border: none;
  width: 30px;

  background-color: var(--complementary);
  transition: all 0.2s ease-in-out;
  border: 0.1px solid rgba(var(--surface-900), 0.3);

  &:hover {
    background-color: var(--surface-100);
  }
  svg {
    font-size: 40px;
  }
}
