.Carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: var(--space-3);

  .inner {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    width: calc(100% - 60px);
    height: 100%;
    width: 100%;
  }

  .button {
    position: relative;
    background-color: #e8e8e8;
    z-index: 99;
    border: none;

    &:hover {
      border: 0.1px solid rgb(162, 162, 162);
    }
  }

  .CarouselItem {
    padding-bottom: 4px;
    flex: 0 0 auto;
  }

  &.horizontal {
    display: flex;

    .inner {
      height: 100%;
    }

    .button {
      width: 30px;
    }
  }

  &.vertical {
    max-width: 100px;

    .inner {
      height: calc(100% - 60px);
      width: 100%;
      flex-direction: column;
    }

    .button {
      height: 30px;
      width: 100%;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}

.title {
  margin-bottom: 0;
}

.subtitle {
  color: rgb(var(--color-dark-3));
  margin-bottom: var(--space-1);
}
