.container {
  margin: 2rem 1rem;
}
.Carousel {
  overflow: hidden;
  position: relative;
  width: 100%;

  .inner {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out;
    width: calc(100% - 60px);
    height: 100%;
    width: 100%;
  }

  .button {
    position: relative;
    background-color: #e8e8e8;
    z-index: 99;
    border: none;
    width: 30px;

    &:hover {
      border: 0.1px solid rgb(162, 162, 162);
    }
  }

  .CarouselItem {
    padding: 8px;
    flex: 0 0 auto;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: var(--space-1);
}
.title {
}
