.gallery {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.galleryImage {
  position: relative;
  display: block;
  width: 100%;
  border: none;
  height: fit-content;

  .image {
    width: 100%;
    height: fit-content;
  }
}
