.ModalProduct {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  overflow-y: auto;
  background-color: var(--surface-200);
}

.Container {
  height: unset;
  padding: var(--space-5) 100px;
}

.close {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  z-index: 2;
  height: 70px;
  width: 70px;
  transition: 0.3s;
  background-color: var(--surface-dark);

  svg,
  path {
    stroke: var(--onSurface-dark);
  }

  &:hover {
    background-color: var(--complementary-500);

    @include boxShadow(2);
    svg,
    path {
      stroke: var(--onSurface-dark);
    }
  }

  svg {
    width: 40px;
    height: 40px;
  }
}
