.ModalProduct {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999999;
  overflow-y: auto;
  background-color: var(--light);
}

.Container {
  height: unset;
  padding: var(--space-5) 100px;
}

.close {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  z-index: 2;
  height: 80px;
  width: 80px;
  transition: 0.3s;
  background-color: var(--complementary);
  border-left: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);

  svg,
  path {
    stroke: var(--dark);
  }

  &:hover {
    background-color: var(--dark);

    @include boxShadow(2);
    svg,
    path {
      stroke: var(--light);
    }
  }

  svg {
    width: 40px;
    height: 40px;
  }
}
