.row {
  margin-bottom: var(--space-6);
}

.list {
  display: grid;
  width: 100%;
  height: 100%;
  gap: var(--space-1);
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  text-align: center;

  @include respond(mobile) {
    gap: var(--space-0);
  }
}

.card {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-bottom: var(--space-1);

  b {
    font-size: 1.2rem;
  }
}

.image {
  display: block;
  width: 100%;
  height: fit-content;
  height: 100%;
  border-radius: $radius;
  object-fit: cover;

  @include box-shadow(1);
}