.button {
  border-radius: $radius;
  min-height: 36px;
  min-width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  color: var(--onSurface-hight);
  background-color: var(--surface-100);
  border-radius: 50%;
  opacity: 0.8;
  border: none;
  margin-right: 4px;
  margin-bottom: 4px;

  &.selected {
    opacity: 1;
    outline: 3px solid var(--surface-dark-100);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--surface-dark-200);
    color: var(--onSurface-dark);
  }
}
