.container {
  display: flex;
  justify-content: space-between;
  gap: var(--space-5);

  @include respond('tablet') {
    flex-direction: column;
    gap: var(--space-4);
  }
}

.footer {
  background-color: var(--dark);
  color: var(--dark);
  padding: var(--space-3) 0;
  color: var(--light);
}

.about {
  width: 100%;
  max-width: 400px;

  @include respond('tablet') {
    max-width: unset;
  }
}

.title {
  margin-bottom: var(--space-1);
  text-transform: capitalize;
  @include fluid-font(320px, 1424px, $fontSize-300, $fontSize-400);
  display: block;
}

.navList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-3);

  @include respond('mobile') {
    grid-template-columns: 1fr 1fr;
  }
}

.navItem {
  width: fit-content;
  margin-bottom: var(--space-1);
  min-width: 130px;

  &:last-child {
    margin-bottom: 0;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-0) 0;
  border-top: 0.1px solid rgba(var(--RGB-onPrimary), 0.3);
  background-color: var(--dark);
  color: var(--light);
}
