.container {
  @include themed {
    background-color: t($background);
    color: t($onBackground);
  }
}

.title {
  margin-bottom: var(--space-2);
  text-transform: capitalize;
}

.navList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  gap: var(--space-3);
  padding: var(--space-4) 0;
}

.navItem {
  width: fit-content;
  margin-bottom: var(--space-1);
  &:last-child {
    margin-bottom: 0;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-1) 0;

  @include themed() {
    border-top: 0.1px solid t($onBackground);
  }

  .list {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
