.ProductDescription {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: sticky;
  top: 20px;
  height: 100%;

  &.Separator + .Separator {
    display: none;
  }
}

.type {
  color: white;
  background-color: green;
  border-radius: 3px;
  padding: 5px;
  width: fit-content;
  margin-bottom: 1rem;
}

.title {
  position: relative;
  margin-bottom: var(--space-md);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}

.btn {
  width: 100%;
}

.wrapper {
  display: flex;
  gap: 1rem;
  margin: var(--space-2) 0;
}

.totalPriceTitle {
  margin-bottom: var(--space-1);
}

.totalPrice {
  strong {
    font-weight: 600;
    font-size: var(--font-size-xxl);
  }
}
