.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-3) auto;
  min-height: 50vh;
  max-width: 300px;
  text-align: center;
}

.image {
  margin-bottom: var(--space-2);
  height: 180px;
  width: 180px;
}

.title {
  margin-bottom: var(--space-1);
}

.subtitle {
  margin-bottom: var(--space-2);
  font-weight: 500;
  color: var(--on-surface-light);
}