@use '@/styles/mixins' as *;

.details {
  margin-top: var(--space-6);
  background-color: var(--surface-200);

  @include respond(mobile) {
    margin-top: var(--space-2);
  }
}

.description {
  padding: var(--space-2);

  img {
    display: none;
  }
}
