.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: var(--space-4);
}

.addNewAddress {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-0);
  border-radius: 3px;
  padding: 3px 8px;
  background: transparent;

  @include themed() {
    color: t($dark);
    border: 2px solid t($dark);
  }
}