.banner {
  background-color: var(--surface-100);
  margin-bottom: var(--space-2);
  padding: var(--space-2);

  h2 {
    margin-bottom: var(--space-1);
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: var(--space-1);
}

.btn {
  width: fit-content;
  margin-bottom: 0;
}
