.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: var(--space-4) 0;
}

.title {
  margin-bottom: var(--space-1);
}

.btn {
  margin-top: var(--space-2);
}