.animation {
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  transition: top;
  transition: max-height 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hover {
  @include gradient-overlay(var(--rgb-surface-100), 0deg);
}

.button {
  padding-top: var(--space-0);
  border: none;
  margin: 0 auto;
  text-decoration: underline;
}
