.form {
  border-radius: $radius;
  margin: 0 auto;
  background-color: var(--surface-200);
  width: 100%;
  overflow: hidden;
  padding: var(--space-2);
}

.title {
  margin-bottom: var(--space-2);
}

.children {
  margin: 0 auto;
  width: 100%;
}