.card {
  position: relative;
  display: flex;
  border: 0.1px solid var(--surface-300);
  border-radius: $radius;
  width: 100%;
  color: var(--on-surface-medium);
}

.image {
  position: relative;

  img {
    border-radius: $radius;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.details {
  padding: var(--space-1);
}