.LineItemCard {
  display: flex;
  position: relative;
  width: 100%;
  border-radius: $radius;
  background-color: var(--dark);
  border: 0.1px solid rgba(var(--dark), 0.1);
}

.image {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius;
  }
}

.details {
  padding: var(--space-1);
}
