.address {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid var(--surface-300);
  border-radius: $radius;
  margin-bottom: var(--space-2);
  background-color: var(--surface-200);
  width: 100%;
  padding: var(--space-2);
  color: var(--onSurface-medium);
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gapSmall;
}

.button {
  position: relative;
  display: block;
  border: none;
  margin: 0 2px;
  box-sizing: border-box;
  padding: 0px;

  svg {
    display: block;
    height: 18px;
    width: 18px;
  }
}

.setAsDefault {
  border: none;
  margin-top: var(--space-0);
  width: fit-content;
  padding: 0;
  text-decoration: underline;
  align-self: flex-end;
}

.defaultText {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius;
  background-color: var(--surface-dark-100);
  padding: 8px;
  font-size: 10px;
  font-weight: 500;
  color: white;
  text-align: end;
}