.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-2);
  border-radius: $radius;
  width: 100%;
  background-color: var(--surface-200);
  color: var(--onSurface-medium);
  border: 0.1px solid var(--surface-300);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-1);
}

.buttons {
  display: flex;
  align-items: center;
  gap: $gapSmall;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: none;
}

.setAsDefault {
  border: none;
  text-decoration: underline;
  width: fit-content;
  margin-top: var(--space-0);
  padding: 0;
  align-self: flex-end;
}
