.main {
  width: 100%;
  min-height: 50vh;
}

.content {
  width: 100%;
  height: fit-content;
  background-color: var(--surface-200);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--space-3);
  border-radius: $radius;
  overflow: hidden;
}

.subtitle {
  text-align: center;
  margin-top: var(--space-1);
}