$box-dimension: 36px;

.option {
  padding-bottom: var(--space-1);

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: flex;
  min-width: $box-dimension;
  min-height: $box-dimension;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--surface-dark-100);
  border-radius: var(--radius);
  background-color: var(--surface-100);
  color: var(--on-surface-hight);
  font-size: 0.8rem;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--surface-200);
  }
}

.name {
  display: block;
  width: fit-content;
  margin-bottom: 4px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.selected-option {
  border: 1px solid var(--surface-dark-100);
  background-color: var(--surface-dark-100);
  color: var(--on-surface-dark);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--surface-dark-200);
  }
}
