.CollectionLayout {
  padding-bottom: var(--space-4);
}

.container {
  display: flex;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--surface-300);
  border-bottom: 1px solid var(--surface-300);
  margin-bottom: var(--space-1);
  padding: var(--space-0) 0;
}

.filterButton {
  border: none;
  text-transform: uppercase;
  font-weight: $fontWeightSemiBold;
  padding: 0;

  svg {
    margin-right: 4px;
  }
  path {
    fill: var(--surface-900);
  }
}
