.CollectionLayout {
  padding-bottom: var(--space-4);
}

.container {
  display: flex;
}

.main {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-0);
}
