.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  color: var(--bg-600);

  svg {
    color: var(--bg-600);
    font-size: 40px;
  }
}

.text {
  @include fluid-font(320px, 1424px, $fontSize-200, $fontSize-300);
  font-weight: $fontWeightMedium;
}

.subtitle {
  color: var(--primary);
}