.priceFilters {
  display: block;
  height: 100%;
}
.priceInputs {
  display: flex;
  align-items: center;
  gap: var(--space-1);

  input {
    display: block;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    margin: 3px 0;
    padding-left: var(--space-0);
    border: 1px solid var(--surface-400);
  }

  small {
    font-size: 10px;
    padding-left: var(--space-0);
  }
}

.label {
  display: flex;
  flex-direction: column;
}
