.price-filters {
  display: block;
  height: 100%;
}

.price-inputs {
  display: flex;
  align-items: center;
  gap: var(--space-1);

  input {
    position: relative;
    display: block;
    border: 1px solid var(--surface-400);
    border-radius: 10px;
    margin: 3px 0;
    height: 40px;
    width: 120px;
    padding-left: var(--space-0);
  }

  small {
    padding-left: var(--space-0);
    font-size: 0.7rem;
  }
}

.label {
  display: flex;
  flex-direction: column;
}