@use '@/styles/mixins' as *;

.table {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  border-radius: var(--radius);
  border-bottom: none;
  background-color: var(--surface-100);
  border-collapse: separate;
  border-spacing: 0;
}

.t-head {
  padding: var(--space-1);
  border-bottom: 1px solid var(--surface-300);
  background-color: var(--surface-dark-200);
  color: var(--on-surface-dark);
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  text-align: start;
  text-transform: uppercase;
}

.t-data {
  height: 80px;
  padding: var(--space-0) var(--space-1);
  border: 0.01px solid var(--surface-300);
  font-size: 1rem;
  font-weight: 400;
  text-align: start;
  vertical-align: middle;

  @include respond(mobile) {
    position: relative;
    height: unset;
    padding-left: 40%;
    border: none;
    border-bottom: 1px solid #eeeeee;
    border-bottom: 0.1px solid var(--surface-500);

    &:last-child {
      border-bottom: none;
    }
  }
}

.table,
.t-data,
.t-head,
.body,
.row,
.head {
  @include respond(mobile) {
    display: block;

    &::before {
      position: absolute;
      top: 50%;
      left: var(--space-1);
      width: 40%;
      padding-right: 10px;
      font-size: 0.9rem;
      font-weight: 500;
      transform: translateY(-50%);
      white-space: nowrap;
    }
  }
}

.row {
  background-color: var(--surface-200);

  @include respond(mobile) {
    border: 0.01px solid var(--surface-300);
    border-radius: var(--radius);
    margin-bottom: var(--space-1);
  }
}

.t-head,
.head {
  @include respond(mobile) {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
