.breadcrumbs {
  border-bottom: 1px solid var(--surface-400);
  background-color: var(--surface-100);
}

.list {
  display: flex;
  height: 40px;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  @include respond(mobile) {
    max-width: 100px;
  }

  &:last-of-type {
    font-weight: 600;
    opacity: 1;

    @include respond(mobile) {
      max-width: unset;
    }
  }
}

.last {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 1;
  white-space: nowrap;

  @include text-shorten(1);
}