.breadcrumbs {
  padding: var(--space-1) 0;
  background-color: var(--surface-200);
}
.list {
  display: flex;
  align-items: center;
}

.item {
  list-style: none;
  display: flex;
  align-items: center;
}
