.breadcrumbs {
  border-bottom: 1px solid var(--surface-400);
  background-color: var(--surface-100);
}

.list {
  display: flex;
  align-items: center;
  height: 40px;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  @include respond(mobile) {
    max-width: 100px;
  }

  &:last-of-type {
    opacity: 1;
    font-weight: 600;

    @include respond(mobile) {
      max-width: unset;
    }
  }
}

.last {
  opacity: 1;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  @include text-shorten(1);
}