.crumbs {
  opacity: 0.6;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 500;
  @include text-shorten(1);
}

.last {
  opacity: 1;
  font-weight: 600;
}

.arrow {
  opacity: 0.6;
  margin: 0 6px;
  width: 8px;

  svg {
    height: 8px;
    width: 8px;
  }
}