.crumbs {
  opacity: 0.6;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 10px;
  font-weight: 500;
}

.last {
  opacity: 1;
  font-weight: 600;
}

.arrow {
  opacity: 0.6;
  margin: 0 6px;
  width: 8px;

  svg {
    width: 8px;
    height: 8px;
  }
}