@use '@/styles/mixins' as *;

.crumbs {
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.6;
  text-transform: capitalize;
  white-space: nowrap;

  @include text-shorten(1);
}

.last {
  font-weight: 600;
  opacity: 1;
}

.arrow {
  width: 8px;
  margin: 0 6px;
  opacity: 0.6;

  svg {
    width: 8px;
    height: 8px;
  }
}
