.PageBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.1px solid var(--surface-900);
  border-bottom: 0.1px solid var(--surface-900);
  background-color: var(--surface-dark-100);
  min-height: 100px;
  color: var(--onSurface-dark);
}

.title {
  text-transform: uppercase;
}