.tooltip {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  height: auto;
}

.text {
  position: absolute;
  top: 50%;
  right: 112%;
  transform: translateY(-50%);
  background-color: var(--surface-dark-100);
  color: var(--onSurface-dark);
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 9999;
  font-size: 11px;
  width: max-content;
  max-width: 300px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -0.4rem;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--surface-dark-100);
    border-bottom: 0.5rem solid transparent;
  }
}