.tooltip {
  position: relative;
  width: fit-content;
  height: auto;
}

.text {
  position: absolute;
  z-index: 9999;
  top: 50%;
  right: 112%;
  width: max-content;
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--surface-dark-100);
  color: var(--on-surface-dark);
  font-size: 0.8rem;
  transform: translateY(-50%);

  &::before {
    position: absolute;
    top: 50%;
    right: -0.4rem;
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid var(--surface-dark-100);
    content: '';
    transform: translateY(-50%);
  }
}