.ActiveLink {
  font-weight: $fontWeightMedium;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 2px;
    background-color: transparent;
  }

  &:hover {
    @include themed {
      @include underline(t($onBackground));
    }
  }
}

.active {
  font-weight: $fontWeightBold;

  @include themed {
    @include underline(t($onBackground));
  }
}
