.container {
  width: 100%;
  padding: 20px 0;
  border-top: 0.1px solid gray;
  border-bottom: 0.1px solid gray;
}

.list {
  display: flex;
  width: 100%;
  gap: 60px;
  justify-content: center;
  align-items: center;

  @include respond(laptop_s) {
  }

  @include respond(tablet) {
  }
}

.button {
  color: $primary;
}

.name {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
