.cookie-banner {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--on-surface-dark);
  background-color: var(--surface-dark-100);
  padding: 1rem;

  p {
    margin-right: 1rem;
    color: var(--on-surface-dark);
  }

  .accept-btn {
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: var(--primary-400);
    padding: 0.5rem 1rem;
    color: var(--on-surface-dark);
    cursor: pointer;
  }

  .settings-btn {
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    color: var(--primary-400);
    cursor: pointer;
  }
}

.cookie-list {
  li {
    margin-bottom: var(--space-1);
  }
}

.modal-subtitle {
  margin-bottom: var(--space-0);
}

.cookie-settings-modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000cc;
  height: 100%;
  width: 100%;

  .modal-content {
    border-radius: 5px;
    background-color: var(--surface-100);
    max-height: 80vh;
    max-width: 700px;
    overflow: auto;
    padding: 2rem;

    h2 {
      margin-bottom: var(--space-0);
    }

    form {
      margin: 1rem 0;

      div {
        margin-bottom: 0.5rem;

        input[type='checkbox'] {
          margin-right: 0.5rem;
        }

        label {
          font-size: 0.9rem;
        }
      }
    }

    .input-wrapper {
      display: flex;
      align-items: center;
    }

    .save-btn {
      border: none;
      border-radius: 5px;
      margin-top: var(--space-1);
      background-color: var(--primary-400);
      padding: 0.5rem 1rem;
      color: var(--on-surface-dark);
      cursor: pointer;
    }
  }

  .form-title {
    margin-bottom: var(--space-1);
  }
}