.cookieBanner {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--onSurface-dark);
  background-color: var(--surface-dark-100);
  padding: 1rem;

  p {
    margin-right: 1rem;
    color: var(--onSurface-dark);
  }

  .acceptBtn {
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: var(--primary-400);
    padding: 0.5rem 1rem;
    color: var(--onSurface-dark);
    cursor: pointer;
  }

  .settingsBtn {
    border: none;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    color: var(--primary-400);
    cursor: pointer;
  }
}

.cookieList {
  li {
    margin-bottom: var(--space-1);
  }
}

.modalSubtitle {
  margin-bottom: var(--space-0);
}

.cookieSettingsModal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;

  .modalContent {
    border-radius: 5px;
    background-color: var(--surface-100);
    max-height: 80vh;
    max-width: 700px;
    overflow: auto;
    padding: 2rem;

    h2 {
      margin-bottom: var(--space-0);
    }

    form {
      margin: 1rem 0;

      div {
        margin-bottom: 0.5rem;

        input[type='checkbox'] {
          margin-right: 0.5rem;
        }

        label {
          font-size: 0.9rem;
        }
      }
    }

    .inputWrapper {
      display: flex;
      align-items: center;
    }

    .saveBtn {
      border: none;
      border-radius: 5px;
      margin-top: var(--space-1);
      background-color: var(--primary-400);
      padding: 0.5rem 1rem;
      color: var(--onSurface-dark);
      cursor: pointer;
    }
  }

  .formTitle {
    margin-bottom: var(--space-1);
  }
}