.cookie-banner {
  position: fixed;
  z-index: 9999;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-2);
  border-top: 1px solid var(--on-surface-dark);
  background-color: var(--surface-dark-100);

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 2px;
    border: none;
    cursor: pointer;

    path {
      fill: var(--on-surface-dark);
    }
  }

  p {
    margin-right: 1rem;
    margin-bottom: var(--space-1);
    color: var(--on-surface-dark);
    text-align: center;

    a {
      color: var(--primary-400);
    }
  }

  .buttons {
    display: flex;
    align-items: center;
  }

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .reject-btn {
    border: 2px solid var(--primary-400);
    margin-right: 1rem;
    background-color: transparent;
    color: var(--on-surface-dark);
  }

  .accept-btn {
    border: none;
    background-color: var(--primary-400);
    color: var(--on-surface-dark);
  }

  .settings-btn {
    padding: 0.5rem 1rem;
    border: none;
    color: var(--primary-400);
    cursor: pointer;
    text-decoration: underline;
  }
}
