.slide {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  z-index: 999;
}

.outer {
  position: fixed;
  right: -500px;
  animation: slide-right 0.3s ease-in-out forwards;
  width: 400px;
  height: 100vh;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  height: 60px;
}

.inner {
  height: 100%;
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 500;
  flex: 2;
  text-align: center;
  text-transform: uppercase;
}

.close {
  background-color: transparent;
  border: none;
  border-right: 1px solid gainsboro;
  cursor: pointer;
  width: 50px;
  height: 50px;
  min-width: 50px;

  &:hover {
    svg {
      color: $strong;
    }
  }

  svg {
    font-size: 26px;
  }
}

.headerRight {
  width: 50px;
  height: 50px;
  border-left: 1px solid gainsboro;
  font-size: 22px;
  font-weight: bold;
}

.children {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slide-right {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
