.slide {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  z-index: 999;
}

.outer {
  position: fixed;
  right: -500px;
  animation: slide-right 0.3s ease-in-out forwards;
  width: 400px;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.header {
  margin-bottom: 2rem;
}

.inner {
  height: 100%;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
}

.close {
  background-color: transparent;
  position: absolute;
  top: 3rem;
  right: 2rem;
  border: none;

  svg {
    font-size: 30px;
    cursor: pointer;
  }
}

.children {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes slide-right {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}
