.slide {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: fixed;
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  z-index: 9999999999999;
}

.outer {
  position: fixed;
  right: -500px;
  animation: slide-right 0.3s ease-in-out forwards;
  transition: 0.3s ease-in-out forwards;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(4, 4, 4, 0.7);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  height: 60px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.close {
  background-color: transparent;
  border: none;
  border-right: 1px solid gainsboro;
  cursor: pointer;

  &:hover {
    svg {
      color: $strong;
    }
  }

  svg {
    font-size: 26px;
  }
}

.headerRight {
  width: 50px;
  height: 50px;
  border-left: 1px solid gainsboro;
  font-size: 22px;
  font-weight: bold;
}

.children {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slide-right {
  0% {
    right: -500px;
  }
  100% {
    right: 0px;
  }
}
