.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;

  @include themed() {
    background-color: rgba(t($onBackground), 0.1);
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;

  @include themed() {
    color: t($background);

    svg {
      color: t($onBackground);
      font-size: 40px;
    }
  }
}

.text {
  margin-bottom: 8px;

  @include themed() {
    color: t($onBackground);
  }
}

.subtitle {
  @include themed() {
    color: t($complementary);
  }
}