.container {
  background-color: rgb(var(--color-dark-0));
  color: rgb(var(--color-dark-4));
}

.top {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .title {
    margin-bottom: 50px;
    text-transform: capitalize;
    color: rgb(var(--color-dark-4));
  }

  .navList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 60px;

    .nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: fit-content;
      flex-wrap: wrap;
    }
  }

  .navItem {
    display: inline-block;
    margin-right: 30px;
    font-size: var(--font-size-base);
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 0;
  border-top: 1px solid rgb(35, 35, 35);
  font-size: var(--font-size-sm);

  .list {
    display: flex;
    gap: 8px;
    align-items: center;

    .item {
      list-style: none;
      white-space: nowrap;
    }
  }
}
