.container {
  @include themed {
    background-color: t($background);
    color: t($onBackground);
  }
}

.top {
  padding: var(--space-4) 0;
  display: grid;
  grid-template-columns: 1fr 2fr;

  .title {
    margin-bottom: var(--space-2);
    text-transform: capitalize;
  }

  .navList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 60px;

    .nav {
      display: flex;
      flex-direction: column;
      width: fit-content;
      flex-wrap: wrap;
    }
  }

  .navItem {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: var(--space-1);
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 0;

  @include themed() {
    border-top: 0.1px solid t($onBackground);
  }

  .list {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}
