.Carousel {
  overflow: hidden;
  position: relative;
  max-width: 100px;
  width: 100%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: calc(100% - 60px);
  width: 100%;
}

.CarouselItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100px;
}
.button {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #e1e1e1;
  z-index: 99;
  border: none;

  svg {
    font-size: 20px;
  }
}
