.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: var(--space-1);
  width: fit-content;
  gap: 2rem;
  text-align: center;

  & a {
    text-decoration: underline;
    color: var(--primary);
    @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
  }
}