.sort {
  display: flex;
  align-items: center;
}

.label {
  font-size: 12px;
  font-weight: 500;
  margin-right: 8px;
}
.select {
  border: none;
  background-color: whitesmoke;
  padding: 8px;
}

.option {
  font-size: 16px;
  padding: 9px 9px;
}
