.accountRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 0;
}

.title {
  @include fluid-font(320px, 1424px, $fontSize--100, $fontSize--100);
}

.content {
}
