.CollectionBanner {
  width: 100%;
  border-radius: $radius;
  padding: var(--space-0);
  margin-bottom: var(--space-0);
}
.inner {
  width: 100%;
  padding: var(--space-2);
  border-radius: $radius;
  text-align: center;
}

.subtitle {
  max-width: 600px;
}
