.CollectionBanner {
  width: 100%;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surface-200);
}
.inner {
  width: 100%;
  padding: var(--space-4) 0;
  border-radius: $radius;
  text-align: center;
}
.title {
  margin-bottom: var(--space-0);
  color: var(--onSurface-medium);
}
.subtitle {
  max-width: 600px;
}
